<template>	
    <div class="container">
        <Button  type="primary" style="margin-top:10px;" size="large" @click="modalAddDep = true">Додати</Button>
        <Table border style="margin-top:10px; font-size:14px" :columns="columns1" :data="elements">
            <template slot-scope="{ row, index }" slot="action">
                <Button type="primary" icon="ios-build" size="small" style="margin-right: 5px" @click="show(index)"></Button>
                <Button type="error" icon="md-close" size="small" @click="remove(index)"></Button>
            </template>
        </Table>
        <Modal  
            v-model="modalAddDep" scrollable 
            title="Додати галузь"
            okText="OK"
            @on-ok="addKafedra"
            @on-cancel = "clearKafedra"
            cancelText="Назад"
            :mask-closable="false"
            :loading="loading">
            <label style="margin-top:10px;" for="kafedra">Галузь:</label><Input id ="kafedra" v-model="insertValues.name" type="text" placeholder="Введіть назву галузі" />
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.name==='' }" >Поле не може бути пустим</div>
            <label style="margin-top:10px;" for="kod">Код:</label><Input id ="kod" style="margin-bottom:10px;"  v-model="insertValues.code" type="text" placeholder="Введіть код галузі" />
            
        </Modal>
        <Modal 
            v-model='youSure' @on-ok='deleteKafedra' okText = 'Так' cancelText = "Ні">
            Ви впевнені що хочете видалити галузь?
        </Modal>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                columns1: [
                    {
                        title: 'Номер',
                        key: 'id',
                        width: 75,
                        align: 'center'
                    },
                    {
                        title: 'Галузь',
                        key: 'name',
                        size: 14
                    },
                    {
                        title: 'Код',
                        key: 'code',
                        size: 14
                    },
                    // {
                    //     title: 'Зав кафедры',
                    //     key: 'name'
                    // },
                    {
                        title: ' ',
                        slot: 'action',
                        width: 150,
                        align: 'center'
                    }
                ],
                modalAddDep: false,
                isEditing:false,
                index: 0,
                youSure:false,
                clicked: false,
                loading: true,
                insertValues:{
                    id:0,
                    name:'',
                    code:''
                },
                elements:[]
            }
        },
        mounted(){
            this.elements = this.areas
        },
        methods:{
            addKafedra(){
                this.$Spin.show();
                this.clicked = true
                if(this.insertValues.name===''){
                    this.$Spin.hide();
                    this.loading = false
                    return
                }
                if(this.isEditing){
                    axios.post('/updateAreas/', this.insertValues)
                        .then((response) => {        
                            var value = this.elements[this.index]
                            value.name = this.insertValues.name
                            value.code = this.insertValues.code
                            this.clearKafedra()
                            this.isEditing=false
                            this.index = 0  
                            this.$Spin.hide(); 
                        })
                }
                else{
                    axios.post('/addAreas/', this.insertValues)
                        .then((response) => {      
                            var department = {
                                id: response.data,
                                name:this.insertValues.name,
                                code:this.insertValues.code
                            }
                            this.elements.push(department)
                            this.clearKafedra()
                            this.$Spin.hide();
                        })
                }
            },
            remove (index) {
                this.index = index
                this.youSure = true
            },
            deleteKafedra(){
                this.$Spin.show();
                axios.post('/deleteAreas/', this.elements[this.index])
                    .then((response) => { 
                        console.log(response) 
                        this.elements.splice(this.index, 1)
                        this.index = 0
                        this.$Spin.hide();
                    })
            },
            clearKafedra(){
                this.insertValues.name = ''
                this.insertValues.id = 0
                this.insertValues.code = ''
            },
            show (index) {
                this.modalAddDep =true
                this.isEditing = true
                this.index = index
                this.insertValues.id = this.elements[index].id
                this.insertValues.name = this.elements[index].name
                this.insertValues.code = this.elements[index].code
            },
        },
        props: [
            'areas'
        ],
    }
</script>

<style scoped>
.modal{
    margin-top:10px;
}
.errorEl{
    color:red !important;
    display:block !important;
}
</style>