<template>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <div class="login100-form validate-form">
                    <span class="login100-form-title p-b-33">
                        Account Login
                    </span>

                    <div class="wrap-input100 validate-input">
                        <input v-model="model.login" class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 rs1 validate-input">
                        <input v-model="model.password" class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-20">
                        <button class="login100-form-btn" @click="signin">
                            Sign in
                        </button>
                    </div>
<!-- 
                    <div class="text-center p-t-45 p-b-4">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2 hov1">
                            Username / Password?
                        </a>
                    </div>

                    <div class="text-center">
                        <span class="txt1">
                            Create an account?
                        </span>

                        <a href="#" class="txt2 hov1">
                            Sign up
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                model:{
                    login:'',
                    password:''
                }
            }
        },
        methods:{
            signin(){
                axios.post('/enter/', this.model)
                    .then((response) => {             
                        console.log(response)
                        if(response.data.length===0){
                            alert("Пользователь не найден")
                        }
                        else{
                            //axios.get("/addData/",response.data[0])
                            window.location.replace("/addData/")
                        }
                    })
            }
        }
    }
</script>

<style scoped>
</style>