<template>	
    <div class="container">
        <Button  type="primary" style="margin-top:10px;" size="large" @click="modalAddDep = true">Додати</Button>
        <Table border style="margin-top:10px; font-size:14px" :columns="columns1" :data="elements">
            <template slot-scope="{ row, index }" slot="action">
                <Button type="primary" icon="ios-build" size="small" style="margin-right: 5px" @click="show(index)"></Button>
                <Button type="error" icon="md-close" size="small" @click="remove(index)"></Button>
            </template>
        </Table>
        <Modal  
            v-model="modalAddDep" scrollable 
            title="Додати дисципліну"
            okText="OK"
            @on-ok="addKafedra"
            @on-cancel = "clearKafedra"
            cancelText="Назад"
            :mask-closable="false"
            :loading="loading">
            <label for="kafedra">Дисципліна:</label><Input id ="kafedra"   v-model="insertValues.dstitle" type="text" placeholder="Введіть назву дисципліни" />
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.dstitle==='' }" >Поле не може бути пустим</div>
            <Select  style="margin-top:10px;" placeholder ="Виберіть спеціальність" v-model="insertValues.idspec" >
                <Option v-for="item in specialities" :key="item.id"  :value="item.id">{{item.sptitle}}</Option>
            </Select>
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.idspec===0 }" >Поле не може бути пустим</div>
            
        </Modal>
        <Modal 
            v-model='youSure' @on-ok='deleteKafedra' okText = 'Так' cancelText = "Ні">
            Ви впевнені що хочете видалити дисципліну?
        </Modal>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                columns1: [
                    {
                        title: 'Номер',
                        key: 'id',
                        width: 75,
                        align: 'center'
                    },
                    {
                        title: 'Дисципліна',
                        key: 'dstitle',
                        sortable: true
                    },
                    {
                        title: 'Спеціальність',
                        key: 'sptitle',
                        sortable: true
                    },
                    {
                        title: 'Кафедра',
                        key: 'dptitle',
                        sortable: true
                    },
                    {
                        title: ' ',
                        slot: 'action',
                        width: 150,
                        align: 'center'
                    }
                ],
                modalAddDep: false,
                isEditing:false,
                index: 0,
                youSure:false,
                clicked: false,
                loading: true,
                insertValues:{
                    id:0,
                    dstitle:'',
                    idspec:0,
                    sptitle:0,
                    dptitle:'',
                    iddepart:0
                },
                elements:[]
            }
        },
        mounted(){
            this.elements = this.disciplines
        },
        methods:{
            addKafedra(){
                this.$Spin.show();
                this.clicked = true
                if(this.insertValues.dstitle===''){
                    this.$Spin.hide();
                    this.loading = false
                    return
                }
                else if(this.insertValues.idspec===0){
                    this.$Spin.hide();
                    this.loading = false
                    return
                }
                if(this.isEditing){
                    axios.post('/updateDiscipline/', this.insertValues)
                        .then((response) => {    
                            var spec = this.specialities.find(x=>x.id === this.insertValues.idspec)    
                            var value = this.elements[this.index]
                            value.sptitle = spec.sptitle
                            value.idspec = this.insertValues.idspec
                            value.iddepart = spec.iddepart
                            value.dptitle = spec.dptitle
                            value.dstitle = this.insertValues.dstitle
                            this.clearKafedra()
                            this.isEditing=false
                            this.index = 0  
                            this.$Spin.hide(); 
                        })
                }
                else{
                    axios.post('/addDiscipline//', this.insertValues)
                        .then((response) => {   
                            var spec = this.specialities.find(x=>x.id === this.insertValues.idspec)   
                            var department = {
                                id: response.data,
                                dstitle:this.insertValues.dstitle,
                                idspec:this.insertValues.idspec,
                                sptitle: spec.sptitle,
                                iddepart: spec.iddepart,
                                dptitle: spec.dptitle
                            }
                            this.elements.push(department)
                            this.clearKafedra()
                            this.$Spin.hide();
                        })
                }
            },
            remove (index) {
                this.index = index
                this.youSure = true
            },
            deleteKafedra(){
                this.$Spin.show();
                axios.post('/deleteDiscipline//', this.elements[this.index])
                    .then((response) => { 
                        console.log(response) 
                        this.elements.splice(this.index, 1)
                        this.index = 0
                        this.$Spin.hide();
                    })
            },
            clearKafedra(){
                this.insertValues.dstitle = ''
                this.insertValues.id = 0
                this.insertValues.idspec = 0
                this.insertValues.iddepart = 0
                this.insertValues.sptitle = ''
                this.insertValues.dptitle =''                
            },
            show (index) {
                this.modalAddDep =true
                this.isEditing = true
                this.index = index
                this.insertValues.id = this.elements[index].id
                this.insertValues.dstitle = this.elements[index].dstitle
                this.insertValues.idspec = this.elements[index].idspec
                this.insertValues.sptitle = this.elements[index].sptitle
                this.insertValues.dptitle = this.elements[index].dptitle
                this.insertValues.iddepart = this.elements[index].iddepart
            },
        },
        props: [
            'disciplines',
            'specialities'
        ],
    }
</script>

<style scoped>
.modal{
    margin-top:10px;
}
.errorEl{
    color:red !important;
    display:block !important;
}
</style>