<template>	
    <div class="container">
        <Button style="margin-top: 10px" type="primary" size="large" @click="addReport">Додати</Button>
        <Table disabled-hover no-data-text="Пусто" style="margin-top:10px;" :columns="columns1" :data="reports">
            <template slot-scope="{ row,index }" slot="agree">
                <Tooltip v-if="row.ZKstatusAgree==='0'" content="Завідувач кафедри: на розгляді"  max-width="200"  placement="top">
                    <Icon size="25" style="color:orange;" type="md-information-circle" />
                </Tooltip>
                <Tooltip v-if="row.ZKstatusAgree==='1'" content="Завідувач кафедри: затверджено" placement="top">
                    <Icon size="25" style="color:green;" type="md-checkmark-circle" />
                </Tooltip>
                <Tooltip v-if="row.ZKstatusAgree==='2'" content="Завідувач кафедри: відхилено" placement="top">
                    <Modal
                        v-model="modal1"
                        okText="OK"
                        cancelText="Назад" :styles="{top: '20px'}"
                        title="Коментар">
                        <p>{{text}}</p>
                    </Modal>
                    <div @click="showmodel1(index)" ><Icon size="25" style="color:red;" type="md-close-circle" /></div>
                </Tooltip>
                <Tooltip v-if="row.GMRstatusAgree==='0'" content="Голова методичної ради: на розгляді"  max-width="200"  placement="top">
                    <Icon size="25" style="color:orange;" type="md-information-circle" />
                </Tooltip>
                <Tooltip v-if="row.GMRstatusAgree==='1'" content="Голова методичної ради: затверджено" placement="top">
                    <Icon size="25" style="color:green;" type="md-checkmark-circle" />
                </Tooltip>
                <Tooltip v-if="row.GMRstatusAgree==='2'" content="Голова методичної ради: відхилено" placement="top">
                    <Modal
                        v-model="modal1"
                        okText="OK"
                        cancelText="Назад" :styles="{top: '20px'}"
                        title="Коментар">
                        <p>{{text}}</p>
                    </Modal>
                    <div @click="showmodel2(index)" ><Icon size="25" style="color:red;" type="md-close-circle" /></div>
                </Tooltip>
                <Tooltip v-if="row.GNMVstatusAgree==='0'" content="Голова навчально методичного відділу: на розгляді"  max-width="200"  placement="top">
                    <Icon size="25" style="color:orange;" type="md-information-circle" />
                </Tooltip>
                <Tooltip v-if="row.GNMVstatusAgree==='1'" content="Голова навчально методичного відділу: затверджено" placement="top">
                    <Icon size="25" style="color:green;" type="md-checkmark-circle" />
                </Tooltip>
                <Tooltip v-if="row.GNMVstatusAgree==='2'" content="Голова навчально методичного відділу: відхилено" placement="top">
                    <Modal
                        v-model="modal1"
                        okText="OK"
                        cancelText="Назад" :styles="{top: '20px'}"
                        title="Коментар">
                        <p>{{text}}</p>
                    </Modal>
                    <div @click="showmodel3(index)" ><Icon size="25" style="color:red;" type="md-close-circle" /></div>
                </Tooltip>
            </template>
            <template slot-scope="{ row, index }" slot="action">
                <Button type="primary" icon="md-add-circle" size="small" style="margin-right: 5px" @click="copy(index)"></Button>
                <Button type="primary" icon="md-eye" size="small" style="margin-right: 5px" @click="show(index)"></Button>
                <Button type="primary" icon="ios-build" size="small" style="margin-right: 5px" @click="edit(index)"></Button>
                <Button type="error" icon="md-close" size="small" @click="remove(index)"></Button>
            </template>
        </Table> 
    </div>
</template>

<script>
    export default {
        data(){
            return{
                modal1:false,
                text:'',
                columns1: [
                    {
                        title: 'Дисципліна',
                        key: 'discipline',
                        sortable: true
                    }, 
                    {
                        title: 'Спеціальність',
                        key: 'speciality',
                        sortable: true
                    },
                    {
                        title: 'Кафедра',
                        key: 'department',
                        sortable: true
                    },
                    {
                        title: 'Галузь',
                        key: 'area',
                        width: 150,
                        sortable: true
                    },
                    {
                        title: 'Рік',
                        key: 'year',
                        width: 80,
                        sortable: true
                    },
                    // {
                    //     title: 'Статус',
                    //     key: 'statusAgree'
                    // },
                    {
                        title: 'Статус',
                        slot: 'agree',
                        width: 150,
                        align: 'center'
                    },
                    {
                        title: ' ',
                        slot: 'action',
                        width: 200,
                        align: 'center'
                    }
                ],
            }
        },
        methods:{
            showmodel1(index){
                this.modal1 = true
                this.text = this.reports[index].ZKcomment
            },
            showmodel2(index){
                this.modal1 = true
                this.text = this.reports[index].GMRcomment
            },
            showmodel3(index){
                this.modal1 = true
                this.text = this.reports[index].GNMVcomment
            },
            show(index){
                window.location.href = '/showReport/'+this.reports[index].id                
            },
            edit(index){
                window.location.href = '/addReport/'+this.reports[index].id                
            },
            copy(index){
                window.location.href = '/copyReport/'+this.reports[index].id                
            },
            addReport(){
                window.location.href = '/addReport/'
            }
        },
        props: [
            'reports'
        ],
    }
</script>

<style>
.modal{
    margin-top:10px;
}
.ivu-table-cell{
    word-break: normal !important; 
}
</style>