<template>	
    <div class="container">
        <Button style="margin-top: 10px" type="primary" size="large" @click="addReport">Додати</Button>
        <Table no-data-text="Пусто" style="margin-top:10px;" :columns="columns1" :data="reports">
            <template slot-scope="{ row }" slot="agree">
                <Icon v-if="row.statusAgree==='1'" size="25" style="color:green;" type="md-checkmark-circle" /> 
                <Icon v-if="row.statusAgree==='2'" size="25" style="color:red;" type="md-close-circle" />
                <Icon v-if="row.statusAgree==='0'" size="25" style="color:orange;" type="md-information-circle" />
            </template>
            <template slot-scope="{ row, index }" slot="action">
                <Button type="primary" icon="ios-build" size="small" style="margin-right: 5px" @click="show(index)"></Button>
                <Button type="primary" icon="ios-build" size="small" style="margin-right: 5px" @click="edit(index)"></Button>
                <Button type="error" icon="md-close" size="small" @click="remove(index)"></Button>
            </template>
        </Table>        
    </div>
</template>

<script>
    export default {
        data(){
            return{
                columns1: [
                    {
                        title: 'Дисципліна',
                        key: 'discipline',
                        sortable: true
                    }, 
                    {
                        title: 'Спеціальність',
                        key: 'speciality',
                        sortable: true
                    },
                    {
                        title: 'Код спеціальності',
                        key: 'specialityCode',
                        sortable: true
                    },
                    {
                        title: 'Кафедра',
                        key: 'department',
                        sortable: true
                    },
                    {
                        title: 'Галузь',
                        key: 'area',
                        sortable: true
                    },
                    {
                        title: 'Рік',
                        key: 'year',
                        width: 80,
                        sortable: true
                    },
                    // {
                    //     title: 'Статус',
                    //     key: 'statusAgree'
                    // },
                    {
                        title: 'Статус',
                        slot: 'agree',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: ' ',
                        slot: 'action',
                        width: 150,
                        align: 'center'
                    }
                ],
            }
        },
        methods:{
           show(index){
               alert(this.reports[index].id)
               window.location.href = '/showReport/'+this.reports[index].id                
           },
           edit(index){
               alert(this.reports[index].id)
               window.location.href = '/addReport/'+this.reports[index].id                
           },
           addReport(){
               window.location.href = '/addReport/'
           }
        },
        props: [
            'reports'
        ],
    }
</script>

<style>
.modal{
    margin-top:10px;
}
.ivu-table-cell{
    word-break: normal !important; 
}
</style>