<template>
    <div class="next-page">
        <div class="work-programm">
            Робоча програма <span class="">«{{importedData.currentDisciplineTitle}}»</span> для студентів спеціальністю
            <span style="text-decoration:underline">{{importedData.currentSpecialityKod!==0?importedData.currentSpecialityKod:''}} {{importedData.currentSpecialityTitle}}</span>
        </div>
        <div class="developer">
        <span class="developer-name">Розробник</span>:
        {{importedData.userName}} {{importedData.userSurname ? importedData.userSurname.substr(0, 1).toUpperCase()+'.':''}} {{importedData.userOtch ? importedData.userOtch.substr(0, 1).toUpperCase()+'.': ''}}  {{importedData.userRole}}
        <!-- <Input v-model="importedData.developer" type="text" style="width:120px;" />, старший викладач кафедри  -->
        </div>
        <div class="approved">
            Робоча програма затверджена на засіданні {{importedData.currentDepartmentTitle.replace(/Кафедра/g, 'кафедри')}}
        </div>
        <div class="protocol">
            Протокол від «___» ________ 20___  року № ____
        </div>
        <div class="manager">
            Завідувач {{importedData.currentDepartmentTitle.replace(/Кафедра/g, 'кафедри')}} ________
        </div>
        <div class="manager-date">
            «___» ________ 20___  року
        </div>
        <div class="approved-institute">
            Схвалено навчально-методичною радою інституту
        </div>
        <div class="institute-protocol">
            Протокол від «___» ________ 20___  року № ____
        </div>
        <div class="institute-head">
            Голова навчально-методичної ради інституту  ____________________________________
        </div>
        <div class="institute-date">
            «______» _____________  20___ року 
        </div>
        <hr>
        <div class="row second-page-signature">
            <div class="col-6"></div>
            <div class="col-6">
                <div>
                     {{importedData.userName}} {{importedData.userSurname ? importedData.userSurname.substr(0, 1).toUpperCase()+'.':''}} {{importedData.userOtch ? importedData.userOtch.substr(0, 1).toUpperCase()+'.': ''}}, {{importedData.currentYear}} рік
                </div>
                <div>
                     ПолтНТУ ім. Юрія Кондратюка , {{importedData.currentYear}} рік
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            exportdata: {
                currentKafedra: 'Виберіть',
                currentDiscipline: 'Виберіть',
                currentSpiciality: 'Виберіть',
                currentPreparetion: 'Виберіть',
                currentYear: 2018
            }
        }
    },         
    props: {
        importedData: {
            type: Object
        }
    },
}
</script>
<style scoped>
.work-programm{
    text-align:left;
    font-weight: 800;
    margin-top:50px;
}
.lower{
    text-transform:lowercase;
}
.developer{
    text-align:left;
    margin-top:15px;
}
.developer-name{
    font-weight: 800;
}
.approved{
    text-align:left;
    margin-top:25px;
}
.protocol{
    text-align:left;
    margin-top: 15px;
    font-weight: 800;
}
.manager{
    text-align:left;
    margin-top: 15px;
}
.manager-date{
    text-align:left;
    margin-top: 15px;
}
.approved-institute{
    text-align:left;
    margin-top: 15px;
    font-size:11pt;
}
.institute-protocol{
    text-align:left;
    margin-top: 15px;
    font-weight:800;
}
.institute-head{
    text-align:left;
    margin-top: 15px;
}
.institute-date{
    text-align:left;
    margin-top: 15px;
}
.next-page{
    padding: 50px 45px 50px 80px;
}
.second-page-signature{
    margin-top:200px;
    text-align:left;
}
</style>

