<template>
<div>
<div class="content"> 
<BackTop></BackTop>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col">
                <FirstPage 
                :importedData="model"
                :disciplines="disciplines"
                :departments="departments"
                :specialities="specialities"
                :preparations="preparations">
                </FirstPage>
                <hr>
                <SecondPage 
                :importedData="model"
                @on-fill-data="fillData">
                </SecondPage>
                <ThirdPage 
                :importedData="model"
                @on-fill-data="fillData">
                </ThirdPage>
                <hr>
                <div class="rest-page">
                    <div style="text-align:center;">
                        2.	Мета та завдання навчальної дисципліни
                    </div>
                    <div :class="{ errorInput: $v.req.$error }">
                        &emsp;&emsp; Мета: <div  v-if="model.goal!==''" class="filledText" >{{model.goal}}</div>
                    </div>
                    <div>
                        &emsp;&emsp; <b>Завдання:</b> <div v-if="model.task!==''" class="filledText">{{model.task}}</div>
                    </div>
                    <div>
                        &emsp;&emsp; У результаті вивчення навчальної дисципліни студент повинен <br>
                        &emsp;&emsp; <b>знати:</b>                         
                    </div>
                    <ul class="list" style="margin-left: 3em;">
                        <li v-for="cknow in model.know" :key="cknow">
                            <div class="filledText"> {{cknow}}</div>
                        </li>
                    </ul>
                    <div>
                        &emsp;&emsp; <b>вміти:</b>
                    </div>
                    <ul class="list" style="margin-left: 3em;">
                        <li v-for="cbeable in model.beable" :key="cbeable">
                            <div class="filledText" > {{cbeable}}</div>
                        </li>
                    </ul>
                    <div style="text-align:center; font-weight:800;">
                        3.	Програма навчальної дисципліни
                    </div>

                    <div v-for="modul in model.modules" :key="modul.number" style="font-weight:800;">
                        <div > &emsp;&emsp;Змістовий модуль {{modul.number}}. {{modul.title}}</div>
                    
                        <div v-for="theme in modul.themes" :key="theme.number" >
                            <div >
                                &emsp;&emsp;Тема {{theme.number}}. {{theme.title}}                    
                                <div style="font-weight:400;">
                                    &emsp;&emsp;{{theme.description}}
                                </div>
                            </div>
                            
                            <div v-for="lab in theme.labs" :key="lab.number">
                                &emsp;&emsp;Лабораторне заняття № {{lab.number}}.
                            </div>
                        </div>
                    </div>
                    
                    <div style="text-align:center; font-weight: 800; margin-top:10px">
                        4.	Структура навчальної дисципліни
                    </div>
                    <div>
                        <table style="text-align:center;">
                            <tr>
                                <td rowspan="4" width="150px">
                                    Назви змістових модулів і тем
                                </td>
                                <td colspan="6">Кількість годин</td>
                            </tr>
                            <tr>
                                <td colspan="6">денна форма</td>
                                <!-- <td colspan="6">Заочна форма</td> -->
                            </tr>
                            <tr>
                                <td rowspan="2">усього</td>
                                <td colspan="5">у тому числі</td>
                                <!-- <td rowspan="2">усього</td>
                                <td colspan="5">у тому числі</td> -->
                            </tr>
                            <tr>
                                <td>л</td>
                                <td>п</td>
                                <td>лаб</td>
                                <td>інд</td>
                                <td>с.р.</td>
                                <!-- <td>л</td>
                                <td>п</td>
                                <td>лаб</td>
                                <td>інд</td>
                                <td>с.р.</td> -->
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                
                            </tr>
                            
                            <tr v-for="modul in model.modules" :key="modul.number" style="border-left:0px; border-right:0px">
                                <td style="padding:0; text-align:center;" colspan="7">
                                    <div style="text-align:center; padding:5px; font-weight:800;">Змістовий модуль {{modul.number}}. {{modul.title}}</div>  
                                    <tr v-for="them in modul.themes" :key="them.number" style="border-left:0px; border-right:0px">
                                        <td width="150px" style="max-width:149px; border-left:0px; text-align:left"><b>Тема {{them.number}}.</b><br>{{them.title}}</td>
                                        <td width="125px" >
                                            {{+them.lhours+ +them.phours+ +them.labhours+ +them.indhours+ +them.shours}}
                                        </td>
                                        <td width="55px" style="padding:0; max-width:55px">{{them.lhours}}</td>
                                        <td width="56px" style="padding:0; max-width:56px">{{them.phours}}</td>
                                        <td width="86px" style="padding:0; max-width:86px">{{them.labhours}}</td>
                                        <td width="82px" style="padding:0; max-width:82px">{{them.indhours}}</td>
                                        <td width="89px" style="padding:0;border-right:0px;">{{them.shours}}</td>
                                        
                                    </tr>
                                    <tr v-if="modul.themes.length>0" style="border:0px; font-weight:800;">
                                        <td style="border-bottom:0px; border-left:0px; text-align:left">Разом за змістовим модулем {{model.number}}</td>
                                        <td style="border-bottom:0px;">{{modul.themes.reduce((a, b) => +a + (+b.lhours+ +b.phours+ +b.labhours+ +b.indhours+ +b.shours), 0)}}</td>
                                        <td style="border-bottom:0px; max-width:55px;">{{modul.themes.reduce((a, b) => +a + (+b.lhours), 0)}}</td>
                                        <td style="border-bottom:0px; max-width:56px;">{{modul.themes.reduce((a, b) => +a + (+b.phours), 0)}}</td>
                                        <td style="border-bottom:0px; max-width:86px;">{{modul.themes.reduce((a, b) => +a + (+b.labhours), 0)}}</td>
                                        <td style="border-bottom:0px; max-width:82px;">{{modul.themes.reduce((a, b) => +a + (+b.indhours), 0)}}</td>
                                        <td style="border-bottom:0px;border-right:0px;">{{modul.themes.reduce((a, b) => +a + (+b.shours), 0)}}</td>
                                    </tr> 
                                </td>
                            </tr>
                            <tr style="font-weight:800;">
                                <td width="125px" style="max-width:130px; text-align:left">Усього годин</td>
                                <td>{{model.modules.reduce((a, b) => +a + (+b.themes.reduce((c, d) => +c + (+d.lhours+ +d.phours+ +d.labhours+ +d.indhours+ +d.shours), 0)), 0)}}</td>
                                <td width="55px">{{model.modules.reduce((a, b) => +a + (+b.themes.reduce((c, d) => +c + (+d.lhours), 0)), 0)}}</td>
                                <td width="56px">{{model.modules.reduce((a, b) => +a + (+b.themes.reduce((c, d) => +c + (+d.phours), 0)), 0)}}</td>
                                <td width="86px">{{model.modules.reduce((a, b) => +a + (+b.themes.reduce((c, d) => +c + (+d.labhours), 0)), 0)}}</td>
                                <td width="82px">{{model.modules.reduce((a, b) => +a + (+b.themes.reduce((c, d) => +c + (+d.indhours), 0)), 0)}}</td>
                                <td>{{model.modules.reduce((a, b) => +a + (+b.themes.reduce((c, d) => +c + (+d.shours), 0)), 0)}}</td>
                                <!-- <td></td><td></td><td></td><td></td><td></td><td></td> -->
                            </tr>
                        </table>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top:10px">
                        5.	Теми семінарських занять
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td class="center" style="width: 7%">№ з/п</td>
                                <td class="center" style="width: 73%">Назва теми</td>
                                <td class="center" style="width: 20%">Кількість годин для денної форми</td>                              
                            </tr>
                            <tr v-if="model.seminarsWorks.length===0">
                                <td></td>
                                <td>Семінарські заняття не передбачені</td>
                                <td></td>
                            </tr>
                            <tr v-else v-for="seminar in model.seminarsWorks" :key="seminar.number">
                                <td>{{seminar.number}}</td>
                                <td>{{seminar.theme}}</td>
                                <td style="text-align:center">{{seminar.hours}}</td>
                            </tr>
                            <tr v-if="model.seminarsWorks.length>0">
                                <td style="text-align:center"></td>
                                <td>Разом</td>
                                <td style="text-align:center"><b>{{model.seminarsWorks.reduce((c, d) => +c + (+d.hours) ,0)}}</b></td>
                            </tr>
                        </table>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top:10px">
                        6.	Теми практичних занять
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td class="center" style="width: 7%">№ з/п</td>
                                <td class="center" style="width: 73%">Назва теми</td>
                                <td class="center" style="width: 20%">Кількість годин для денної форми</td>                              
                            </tr>
                            <tr v-if="model.practicalWorks.length===0">
                                <td></td>
                                <td>Практичні заняття не передбачені</td>
                                <td></td>
                            </tr>
                            <tr v-else v-for="practical in model.practicalWorks"  :key="practical.number">
                                <td style="text-align:center">{{practical.number}}</td>
                                <td>{{practical.theme}}</td>
                                <td style="text-align:center">{{practical.hours}}</td>
                            </tr>
                            <tr v-if="model.practicalWorks.length>0">
                                <td></td>
                                <td>Разом</td>
                                <td style="text-align:center"><b>{{model.practicalWorks.reduce((c, d) => +c + (+d.hours) ,0)}}</b></td>
                            </tr>
                        </table>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top:10px">
                        7. Теми лабораторних занять
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td class="center" style="width: 7%">№ з/п</td>
                                <td class="center" style="width: 73%">Назва теми</td>
                                <td class="center" style="width: 20%">Кількість годин для денної форми</td>                              
                            </tr>
                            <tr v-if="model.laboratoryWorks.length===0">
                                <td></td>
                                <td>Лабораторні заняття не передбачені</td>
                                <td></td>
                            </tr>
                            <tr v-else v-for="laboratory in model.laboratoryWorks" :key="laboratory.number">
                                <td style="text-align:center">{{laboratory.number}}</td>
                                <td>{{laboratory.theme}}</td>
                                <td style="text-align:center">{{laboratory.hours}}</td>
                            </tr>
                            <tr v-if="model.laboratoryWorks.length>0">
                                <td></td>
                                <td>Разом</td>
                                <td style="text-align:center"><b>{{model.laboratoryWorks.reduce((c, d) => +c + (+d.hours) ,0)}}</b></td>
                            </tr>
                        </table>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top:10px">
                        8.	Самостійна робота
                    </div>
                    <div>
                        &emsp;&emsp;Метою самостійної роботи студента є: навчитися користуватися бібліотечними
                         фондами і каталогами, працювати з літературними джерелами, складати конспекти,
                          аналізувати матеріал, порівнювати різні наукові концепції та робити висновки.<br>
                        &emsp;&emsp;Види самостійної роботи студента:
                        <ul class="list">
                            <li>опрацювання лекційного матеріалу;</li>
                            <li>підготовка до лабораторних занять;</li>
                            <li>опрацювання тем курсу, які виносяться на самостійне вивчення, за списками літератури, рекомендованими в робочій навчальній програмі дисципліни;</li>
                            <li>підготовка до виконання модульної контрольної роботи (тестування);</li>
                            <li>відвідування консультацій (згідно графіку консультацій кафедри);</li>
                            <li>підготовка до складання іспиту за контрольними питаннями.</li>
                        </ul>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top:10px; margin-bottom:10px">
                        Питання<br>
                        для самостійного вивчення студентами
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td class="center" style="width: 7%">№ з/п</td>
                                <td class="center" style="width: 73%">Назва теми</td>
                                <td class="center" style="width: 20%">Кількість годин для денної форми</td>                              
                            </tr>
                            <tr v-if="model.questions.length===0">
                                <td></td>
                                <td>Питання не передбачені</td>
                                <td></td>
                            </tr>
                            <tr v-else v-for="question in model.questions" :key="question.theme"  >
                                <td style="text-align:center">{{question.number}}</td>
                                <td>{{question.theme}}</td>
                                <td style="text-align:center">{{question.hours}}</td>
                            </tr>
                            <tr v-if="model.questions.length>0">
                                <td></td>
                                <td>Разом</td>
                                <td style="text-align:center"><b>{{model.questions.reduce((c, d) => +c + (+d.hours) ,0)}}</b></td>
                            </tr>
                        </table>
                        
                    </div>
                    
                    <div style="text-align:center; font-weight: 800; margin-top: 10px;">
                        9. Індивідуальні завдання
                    </div>
                    <div>
                        <div  >
                        &emsp;&emsp; {{model.individualWork}}
                    </div>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top: 10px;">
                        10. Методи навчання
                    </div>
                    <div>
                        &emsp;&emsp;При викладанні дисципліни застосовуються словесні, наочні та практичні методи навчання.<br>
                        &emsp;&emsp;Словесні та наочні методи навчання використовуються під час лекцій, семінарських занять, індивідуальних та групових консультацій, практичні – при проведенні практичних занять та виконанні лабораторних занять.<br>
                        &emsp;&emsp;Під час проведення лекцій та лабораторних занять використовуються такі словесні методи як розповідь і пояснення.<br>
                        &emsp;&emsp;До числа наочних методів, які застосовуються при викладанні дисципліни, належать: ілюстрація, демонстрація.<br>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top: 10px;">
                        11. Методи контролю
                    </div>
                    <div>
                        &emsp;&emsp;Поточний контроль успішності засвоєнням студентами навчального матеріалу може здійснюватися шляхом опитування й оцінювання знань студентів під час семінарських занять, оцінювання виконання студентами самостійної роботи та індивідуальних завдань, проведення і перевірки письмових контрольних робіт, тестування або в ході індивідуальних співбесід зі студентами під час консультацій. Вибір конкретних форм і методів поточного контролю знань студентів залежить від викладача і доводиться до їхнього відома на першому семінарському занятті. Модульний контроль є частиною поточного контролю і має на меті перевірку засвоєння студентом певної сукупності знань та вмінь, що формують відповідний модуль. Він реалізується шляхом проведення спеціальних контрольних заходів (у формі тестування чи написання студентами контрольних робіт), проводиться наприкінці кожного змістового модулю за рахунок аудиторних занять, під час групових консультацій або ж за рахунок часу, відведеного на самостійну роботу студентів. На підставі результатів модульного контролю здійснюється міжсесійний контроль (атестація).<br>
                        &emsp;&emsp;Підсумковий контроль здійснюється у формі 
                        <template v-for="pryear in model.years">
                            <template v-for="semestr in pryear.semestrs">
                                {{semestr.typeExam==='екзамен'?'семестрового екзамену':'диференційованого заліку'}} ({{semestr.number}} семестр)<template v-if="pryear === model.years[model.years.length-1] && semestr === pryear.semestrs[pryear.semestrs.length-1]">.</template><template v-else>,</template>  
                            </template>
                        </template>
                    </div>

                    <div style="text-align:center; font-weight: 800;  margin-top: 10px;">
                        12. Розподіл балів, які отримують студенти
                    </div>
                    
                    <ol class="cyrilic">
                        <li v-for="modul in model.modules" :key="modul.number" style="text-align:center;">
                            <span style="font-weight:800;">для 
                                  {{model.years.find(x=>x.semestrs.find(y=>y.key===modul.number)) 
                                && model.years.find(x=>x.semestrs.find(y=>y.key===modul.number)).semestrs.find(k=>k.key===modul.number).typeExam==='екзамен'
                                ?'екзамену'
                                :'диференційованого заліку'}}:</span>
                           <div>
                                <table style="text-align:center" v-if="model.modules.length!==0 && modul.themes.length!==0">
                                    <tr>
                                        <td :colspan="modul.themes.length+1">Поточне оцінювання, тестування<br> та самостійна й індивідуальна робота</td>
                                        <td rowspan="3">   {{model.years.find(x=>x.semestrs.find(y=>y.key===modul.number)) 
                                                && model.years.find(x=>x.semestrs.find(y=>y.key===modul.number)).semestrs.find(k=>k.key===modul.number).typeExam==='екзамен'
                                                ?'Семестровий екзамен'
                                                :'Диференційований залік'}}</td>
                                        <td rowspan="3">Сума</td>
                                    </tr>
                                    <tr>
                                        <td :colspan="modul.themes.length">Змістовий модуль {{modul.number}}</td>
                                        <td rowspan="2">Індивідуальні<br> завдання</td>
                                    </tr>
                                    <tr><td v-for="them in modul.themes" :key="them.number">T{{them.number}}</td></tr>
                                    <tr><td v-for="them in modul.themes" :key="them.number">{{them.bal}}</td>
                                        <td>{{modul.indbal}}</td>
                                        <td>{{modul.exambal}}</td>
                                        <td>{{modul.themes.reduce((c, d) => +c + (+d.bal) ,0) + +modul.indbal + +modul.exambal}} </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li  style="text-align:center;">
                            <span style="font-weight: 800;">
                                для курсового проекту (роботи):
                            </span>
                            <div>
                                <table>
                                    <tr>
                                        <td>Текстова (аналітично-розрахункова) частина</td>
                                        <td>Графічна частина</td>
                                        <td>Захист роботи</td>
                                        <td>Сума</td>
                                    </tr>
                                    <tr>
                                        <td>{{model.textbal}}</td>
                                        <td>{{model.graphbal}}</td>
                                        <td>{{model.securebal}}</td>
                                        <td>{{+model.textbal+ +model.graphbal + +model.securebal}}</td>                                
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ol>
                   

                    <div style="text-align:center; font-weight: 800; margin-top: 10px;">
                        Шкала оцінювання: національна та ECTS
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td rowspan="2">Сума балів за всі види навчальної діяльності</td>
                                <td rowspan="2">Оцінка ECTS</td>
                                <td>Оцінка за національною шкалою</td>                              
                            </tr>
                            <tr><td>для екзамену, диференційованого заліку, курсового проекту (роботи), практики</td></tr>
                            <tr>
                                <td>90 – 100</td>
                                <td>A</td>
                                <td>відмінно</td>
                            </tr>
                            <tr>
                                <td>82-89</td>
                                <td>B</td>
                                <td rowspan="2">добре</td>
                            </tr>
                            <tr>
                                <td>74-81</td>
                                <td>C</td>
                            </tr>
                            <tr>
                                <td>64-73</td>
                                <td>D</td>
                                <td rowspan="2">задовільно</td>
                            </tr>
                            <tr>
                                <td>60-63</td>
                                <td>Е</td>
                            </tr>
                            <tr>
                                <td>35-59</td>
                                <td>FX</td>
                                <td>незадовільно з можливістю повторного складання</td>
                            </tr>
                            <tr>
                                <td>0-34</td>
                                <td>F</td>
                                <td>незадовільно з обов’язковим повторним вивченням дисципліни</td>
                            </tr>                        
                        </table>
                    </div><br>

                    <div style="text-align:center; font-weight: 800; margin-top: 10px;">
                        Правила модульно-рейтингового оцінювання знань
                    </div>
                    <div>
                        &emsp;&emsp;Загальна трудомісткість дисципліни – 100 балів, із них:<br>
                        &emsp;&emsp;при підсумковому контролі у вигляді екзамену до 50 балів студент може отримати впродовж семестру, решта 50 балів припадає на підсумковий контроль;<br>
                        &emsp;&emsp;при підсумковому контролі у вигляді диференційованого заліку до 70 балів студент може отримати впродовж семестру, решта 30 балів припадає на підсумковий контроль;<br><br>

                        &emsp;&emsp;<b>1. Поточний контроль.</b> Бали, отримані впродовж семестру, за видами навчальної діяльності розподіляються наступним чином:<br>
                        <div style="margin-left: 35px;">–	робота на лабораторних заняттях (захист лабораторних робіт, а в разі їх пропусків з поважної причини – індивідуальні співбесіди на консультаціях за темами відповідних занять) – до 50 (70) балів.</div>
                        &emsp;&emsp;Присутність на лекціях і семінарах не оцінюється в балах. Пропуски занять підлягають обов’язковому відпрацюванню в індивідуальному порядку під час консультацій. Пропущене заняття має бути відпрацьоване впродовж двох наступних тижнів, при тривалій відсутності студента на заняттях з поважної причини встановлюється індивідуальний графік відпрацювання пропусків, але не пізніше початку екзаменаційної сесії.<br>
                        &emsp;&emsp;Студент, який повністю виконав програму навчальної дисципліни і отримав достатню рейтингову оцінку (не менше 25 балів у випадку екзамену та 35 балів у випадку дифзаліку), допускається до підсумкового контролю з дисципліни.<br>
                        &emsp;&emsp;<b>2. Підсумковий контроль.</b> Підсумковим контролем є                      
                        <template v-for="pryear in model.years">
                            <template v-for="semestr in pryear.semestrs">
                                {{semestr.typeExam==='екзамен'?'семестровий екзамен':'диференційований залік'}} ({{semestr.number}} семестр)<template v-if="pryear === model.years[model.years.length-1] && semestr === pryear.semestrs[pryear.semestrs.length-1]">.</template><template v-else>,</template>  
                            </template>
                        </template>
                         Він здійснюється відповідно до вимог «Положення про організацію освітнього процесу в Полтавському національному технічному університеті імені Юрія Кондратюка»<br><br><br>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top: 10px;">
                        13. Методичне забезпечення
                    </div>
                    <div>
                        <ul class="metodical-list">
                            <li>Конспект лекцій.</li>
                            <li>Методичний посібник з вивчення тем дисципліни.</li>
                            <li>Методичні вказівки до лабораторних робіт</li>
                            <li>Методичні вказівки для самостійної роботи студентів.</li>
                            <li>Методичні вказівки для виконання індивідуальних завдань.</li>
                            <li>Методичні рекомендації з виконання курсової роботи.</li>
                            <li>Інстуктивно-методичні матеріали для проміжного і підсумкового контролю знань.</li>
                            <li>Правила модульно-рейтингового оцінювання знань із навчальної дисципліни.</li>
                        </ul>
                    </div>

                    <div style="text-align:center; font-weight: 800; margin-top: 10px;">
                        14. Рекомендована література
                    </div>
                    <div style="text-align:center; font-weight: 800;">
                        Базова
                    </div>
                    
                    <div>
                        <ul class="metodical-list">
                            <li v-for="recBooks in model.recommendedBooksBasic" :key="recBooks">{{recBooks}}</li>
                        </ul>
                    </div>
                   
                    <div style="text-align:center; font-weight: 800; margin-top: 10px;">
                        Допоміжна
                    </div>
                    <div>
                        <ul class="metodical-list">
                            <li v-for="recBooks in model.recommendedBooksAdditional" :key="recBooks">{{recBooks}}</li>
                        </ul>
                    </div>
                   
                    <div style="text-align:center; font-weight: 800; margin-top: 15px;">
                        15. Інформаційні ресурси
                    </div>
                    <div>
                        <ul class="metodical-list">
                            <li v-for="infRosource in model.informationResources" :key="infRosource">{{infRosource}}</li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

 <Button v-if="ZKstatus === '1' && GMRstatus === '1' && GNMVstatus === '1'" type="primary" style="padding: 5px 45px;display: block;margin: 15px auto;margin-bottom: 18px;" size="large" @click="addData">Роздрукувати</Button>
    <div style ="margin-top:0px">.</div>
</div>
</template>

<script>
    import FirstPage from './ShowFirstPage.vue'
    import SecondPage from './SecondPage.vue'
    import ThirdPage from './ShowThirdPage.vue'
    import { required, minLength, between } from 'vuelidate/lib/validators'

    export default {
        components: {
            FirstPage: FirstPage,
            SecondPage: SecondPage,
            ThirdPage: ThirdPage,
        },
        data() {
            return {
                model: {
                    id:0,
                    currentKafedra: 0,
                    currentDiscipline: 0,
                    currentSpecialityKod: 0,
                    currentSpeciality: 0,
                    currentPreparetion: 0,
                    currentDepartmentTitle:'',
                    currentPreparetionTitle:'',
                    currentSpecialityTitle:'',
                    currentDisciplineTitle:'',
                    currentYear: 2019,
                    developer:'',
                    goal: '',
                    task: '',
                    know: [],
                    beable: [],
                    modules: [],
                    recommendedBooksBasic: [],
                    recommendedBooksAdditional: [],
                    informationResources: [],
                    seminarsWorks: [],
                    practicalWorks: [],
                    laboratoryWorks: [],
                    questions: [],
                    individualWork : '',
                    area:'',
                    areacode:0,
                    currnessesiries:'',
                    credits:0,
                    modulesc:0,
                    zmmodulesc:0,
                    pryear:0,
                    userId:0,
                    userName:'',
                    userRole:'',
                    userSurname:'',
                    userOtch:'',
                    years:[{
                        key:1,
                        number:1,
                        semestrs:[{
                            key:1,
                            number:1,
                            lektions:0,
                            praktika:0,
                            laboratory:0,
                            sam:0,
                            Individual:0,
                            typeExam:'',
                            typeWork:''
                        }] 
                    }],             
                    firstexam:'',
                    secondexam:'',
                    fsemestr:0,
                    ssemestr:0,

                    textbal:0,
                    graphbal:0,
                    securebal:0,
                    summbal:0,
                    totalHours:0
                },
                modalgoal: false,
                modaltask: false,
                modalknow: false,
                modalbeable: false,
                modalmodul: false,
                modaltheme: false,
                modalrecommendedBooksBasic: false,
                modalrecommendedBooksAdditional: false,
                modalinformationResources: false,
                modalSeminarWork: false,
                modalPracticalWork: false,
                modalLaborartoryWork: false,
                modalindividualWork: false,
                modalQuestions: false,
                currentknow: '',
                currentModuleTitle: '',
                currentThemeTitle: '',
                currentThemeDescription: '',
                currentRecommendedBooksBasic: '',
                currentRecommendedBooksAdditional: '',
                currentinformationResources: '',
                currentbeable: '',
                currentThemeNumber: 1,
                currentLabNumber: 1,
                currentModule: 0,
                currentTheme: 0,
                currentTableTheme: '',
                currentTableHours: 0,
                questionCounter:0,
                practikaCounter: 0,
                seminarCounter: 0,
                labCounter:0,
                totalLaboratoryHours:0,
                totalSeminarHours: 0,
                totalPracticalHours: 0,
                totalQuestionsHours: 0,
                editing:false,
                oldbeable:'',
                oldknow:'',
                oldModulNumber:0,
                oldThemeNumber:0,
                oldvalue:0,
                oldvaluehours:0,
                isEditing: false,
                ZKstatus: 0,
                GMRstatus: 0,
                GNMVstatus: 0
            }
        },
        validations: {
            req: {
                required,
            }
        },
        methods: {
            fillData(data) {
                this.model = data
            },
            addData() {
                window.location.href = '/saveReport/'+this.model.id     
            },
            addKnow() {
                if(this.oldknow!==''){
                    if(this.currentknow !== ''){
                        this.model.know[this.model.know.indexOf(this.oldknow)]=this.currentknow
                        this.currentknow =''
                        this.oldknow =''
                    }
                }
                else if(this.currentknow !== ''){
                    this.model.know.push(this.currentknow)
                    this.currentknow=''
                }
            },
            selectknow(knowItem){
                this.modalknow=true  
                this.currentknow = knowItem   
                this.oldknow = knowItem         
            },
            addbeable() {
                if(this.oldbeable!==''){
                    if(this.currentbeable !== ''){
                        this.model.beable[this.model.beable.indexOf(this.oldbeable)]=this.currentbeable
                        this.currentbeable =''
                        this.oldbeable =''
                    }
                }
                else if(this.currentbeable !== ''){
                    this.model.beable.push(this.currentbeable)
                    this.currentbeable=''
                }
            },
            selectbeable(beableItem){
                this.modalbeable=true
                this.currentbeable = beableItem   
                this.oldbeable = beableItem         
            },
            addModul(){
                if(this.oldModulNumber!==0){
                    this.model.modules.find(x=>x.number === this.oldModulNumber).title = this.currentModuleTitle
                    this.currentModuleTitle =''
                    this.oldModulNumber=0
                }
                else if (this.currentModuleTitle!==''){

                    const modl = {
                        number: this.model.modules ? this.model.modules.length+1 : 1,
                        title: this.currentModuleTitle,
                        indbal:0,
                        exambal:0,
                        totalbal:0,
                        themes: []
                    }
                    this.model.modules.push(modl)
                    this.currentModuleTitle=''
                }
            },
            clearModul(){
                this.currentModuleTitle=''
                this.oldModulNumber=0
            },
            selectModule(modul){
                this.modalmodul = true
                this.currentModuleTitle = modul.title
                this.oldModulNumber=modul.number
            },
            openThemeModel(number){
                this.modaltheme = true
                this.currentModule = number
            },
            addLab(theme) {
                // this.currentTheme = number
                // const cTheme = this.model.modules.themes.find(y => y.number === this.currentTheme)
                const laboratory = {
                    number: this.currentLabNumber,
                    theme: '',
                    hours: 0
                }
                theme.labs.push(laboratory)
                this.currentLabNumber++
                this.currentTheme=0
            },
            addTheme(){
                if(this.oldThemeNumber!==0 && this.oldModulNumber!==0){
                    var value = this.model.modules.find(x=>x.number === this.oldModulNumber).themes.find(x=>x.number === this.oldThemeNumber)
                    value.title = this.currentThemeTitle
                    value.description = this.currentThemeDescription
                    this.currentThemeDescription=''
                    this.currentThemeTitle = ''
                    this.oldThemeNumber = 0
                    this.oldModulNumber = 0
                }
                else if(this.currentThemeTitle!==''){
                    var cnumber = 0
                    this.model.modules.forEach(element => {
                        element.themes.forEach(el=>{
                            cnumber = el.number
                        })
                    });
                    const theme = {
                        number: cnumber+1,
                        title: this.currentThemeTitle,
                        description: this.currentThemeDescription,
                        lhours: 0,
                        phours: 0,
                        labhours: 0,
                        indhours: 0,
                        shours: 0,
                        bal:0,
                        labs: []
                    }
                    const cModule = this.model.modules.find(x => x.number === this.currentModule)
                    cModule.themes.push(theme)
                    this.currentThemeTitle = ''
                    this.currentModule=0
                    this.currentThemeDescription = ''
                    this.currentThemeNumber++
                }
            },
            selectTheme(theme, number){
                this.modaltheme = true
                this.currentThemeTitle = theme.title
                this.currentThemeDescription = theme.description
                this.oldThemeNumber = theme.number
                this.oldModulNumber = number
            },
            clearTheme(){
                this.currentThemeDescription=''
                this.currentThemeTitle = ''
                this.oldThemeNumber = 0
                this.oldModulNumber = 0
            },
            addRecommendedBooksBasic() {
                if(this.currentRecommendedBooksBasic!==''){
                    this.model.recommendedBooksBasic.push(this.currentRecommendedBooksBasic)
                    this.currentRecommendedBooksBasic = ''
                }
            },
            addRecommendedBooksAdditional() {
                const book = this.currentRecommendedBooksAdditional
                this.model.recommendedBooksAdditional.push(book)
                this.currentRecommendedBooksAdditional = ''
            },
            addInformationResources() {
                const resource = this.currentinformationResources
                this.model.informationResources.push(resource)
                this.currentinformationResources = ''
            },
            addSeminarWork(){
                if(this.oldvalue!==0){
                    var value = this.model.seminarsWorks.find(x=>x.number === this.oldvalue)
                    value.theme = this.currentTableTheme
                    value.hours = +this.currentTableHours
                    this.totalSeminarHours =  +this.totalSeminarHours - +this.oldvaluehours + +this.currentTableHours
                    this.clearTableValue()
                }
                else if (this.currentTableTheme!==''){
                    this.seminarCounter++
                    const seminar = {
                        number: this.seminarCounter,
                        theme: this.currentTableTheme,
                        hours: +this.currentTableHours
                    }
                    this.model.seminarsWorks.push(seminar)
                    const hours = this.currentTableHours
                    const currhours = +this.totalSeminarHours + +hours
                    this.totalSeminarHours =  currhours
                    this.currentTableTheme = ''
                    this.currentTableHours = 0
                }
            },
            clearTableValue(){
                this.currentTableTheme = ''
                this.currentTableHours = 0
                this.oldvalue=0
                this.oldvaluehours=0
            },
            selectSeminar(seminar){
                this.modalSeminarWork = true
                this.currentTableTheme = seminar.theme
                this.currentTableHours = seminar.hours
                this.oldvalue = seminar.number
                this.oldvaluehours=seminar.hours
            },
            addPracticalWork () {
                if(this.oldvalue!==0){
                    var value = this.model.practicalWorks.find(x=>x.number === this.oldvalue)
                    value.theme = this.currentTableTheme
                    value.hours = +this.currentTableHours
                    this.totalPracticalHours =  +this.totalPracticalHours - +this.oldvaluehours + +this.currentTableHours
                    this.clearTableValue()
                }
                else if(this.currentTableTheme!==''){
                    this.practikaCounter++
                    const practical = {
                        number: this.practikaCounter,
                        theme: this.currentTableTheme,
                        hours: +this.currentTableHours
                    }
                    this.model.practicalWorks.push(practical)
                    
                    const hours = this.currentTableHours
                    const currhours = +this.totalPracticalHours + +hours
                    this.totalPracticalHours = currhours
                    this.currentTableTheme = ''
                    this.currentTableHours = 0
                }
            },
            selectPaktical(practical){
                this.modalPracticalWork = true
                this.currentTableTheme = practical.theme
                this.currentTableHours = practical.hours
                this.oldvalue = practical.number
                this.oldvaluehours=practical.hours
            },
            addLaboratoryWork() {
                if(this.oldvalue!==0){
                    var value = this.model.laboratoryWorks.find(x=>x.number === this.oldvalue)
                    value.theme = this.currentTableTheme
                    value.hours = +this.currentTableHours
                    const that = this
                    this.model.modules.forEach(function(modul) {
                        modul.themes.forEach(function(theme){
                            theme.labs.forEach(function(lab){
                                if(lab.number === value.number){
                                    lab.theme = that.currentTableTheme
                                    lab.hours = that.currentTableHours
                                }
                            })
                        })
                    });
                    this.totalLaboratoryHours =  +this.totalLaboratoryHours - +this.oldvaluehours + +this.currentTableHours
                    this.clearTableValue()
                }
                else if (this.currentTableTheme !=='') {
                    this.labCounter++
                    const laboratory = {
                        number: this.labCounter,
                        theme: this.currentTableTheme,
                        hours: +this.currentTableHours
                    }
                    var hasLab = false
                    const that = this
                    this.model.modules.forEach(function(modul) {
                        modul.themes.forEach(function(theme){
                            theme.labs.forEach(function(lab){
                                if(lab.number === that.labCounter){
                                    lab.theme = that.currentTableTheme
                                    lab.hours = that.currentTableHours
                                    hasLab=true
                                }
                            })
                        })
                    });
                    if(hasLab){
                        this.model.laboratoryWorks.push(laboratory)
                        const hours = this.currentTableHours
                        const currhours = +this.totalLaboratoryHours + +hours
                        this.totalLaboratoryHours = currhours
                    } else{
                        this.labCounter--
                        alert('Нет такой работы')
                    }
                    this.currentTableTheme = ''
                    this.currentTableHours = 0
                }
            },
            selectLaboratory(laboratory){
                this.modalLaborartoryWork = true
                this.currentTableTheme = laboratory.theme
                this.currentTableHours = laboratory.hours
                this.oldvalue = laboratory.number
                this.oldvaluehours = laboratory.hours
            },
            addQuestion () {
                if(this.oldvalue!==0){
                    var value = this.model.questions.find(x=>x.number === this.oldvalue)
                    value.theme = this.currentTableTheme
                    value.hours = +this.currentTableHours
                    this.totalQuestionsHours =  +this.totalQuestionsHours - +this.oldvaluehours + +this.currentTableHours
                    this.clearTableValue()
                }
                else if (this.currentTableTheme!=='') {
                    this.questionCounter++
                    const question = {
                        number: this.questionCounter,
                        theme: this.currentTableTheme,
                        hours: +this.currentTableHours
                    }
                    this.model.questions.push(question)
                    const hours = this.currentTableHours
                    const currhours = +this.totalQuestionsHours + +hours
                    this.totalQuestionsHours =  currhours
                    this.currentTableTheme = ''
                    this.currentTableHours = 0
                }
            },
            selectQuestion(question){
                this.modalQuestions = true
                this.currentTableTheme = question.theme
                this.currentTableHours = question.hours
                this.oldvalue = question.number
                this.oldvaluehours = question.hours
            },
        },         
        props: [
            'disciplines',
            'departments',
            'specialities',
            'preparations',
            'currentuser',
            'ireport',
            'iknow',
            'ipraktika',
            'ibeable',
            'ibal',
            'isem',
            'iquestion',
            'ilit',
            'iprepyear',
            'isemestr',
            'imodule',
            'itheme',
            'ilab'
        ],
        mounted(){
            if(this.currentuser){
                
                this.model.userId = this.currentuser.id
                this.model.userName = this.currentuser.name
                this.model.userRole = this.currentuser.role
                this.model.userSurname = this.currentuser.surname
                this.model.userOtch = this.currentuser.otch
            }
        },
        created(){
            if(this.ireport){
                this.isEditing = true
                this.model.individualWork = this.ireport.INDIVIDUALWORK
                this.model.userId = this.ireport.USERID
                this.model.id = this.ireport.ID
                this.model.userName = this.ireport.userName
                this.model.userSurname = this.ireport.userSurname
                this.model.userRole = this.ireport.userRole
                this.model.userOtch = this.ireport.userOtch
                this.model.currentKafedra = this.ireport.depid
                this.model.currentDiscipline = this.ireport.disid
                this.model.currentSpecialityKod= this.ireport.spcode
                this.model.currentSpeciality= this.ireport.specid
                this.model.currentPreparetion= this.ireport.prid
                this.model.currentDepartmentTitle= this.ireport.deptitle
                this.model.currentPreparetionTitle= this.ireport.prtitle
                this.model.currentSpecialityTitle= this.ireport.spectitle
                this.model.currentDisciplineTitle= this.ireport.distitle
                this.model.currentYear = this.ireport.YEAR
                this.model.developer = this.ireport.DEVELOPER
                this.model.goal = this.ireport.PURPOSE
                this.model.task = this.ireport.TASK
                this.model.totalHours = this.ireport.THOURS
                this.model.currnessesiries = this.ireport.ISNESSESORY==='1'?'Обов’язкова':'не обов’язкова'
                this.model.credits = this.ireport.CREDITCOUNT
                this.model.modulesc = this.ireport.MODULESCOUNT
                this.model.zmmodulesc = this.ireport.ZMMODULESCOUNT
                this.model.area = this.ireport.areaName
                this.model.areacode = this.ireport.areaCode
                this.model.textbal = this.ibal.TEXTBAL
                this.model.graphbal = this.ibal.GRAPHBAL
                this.model.securebal = this.ibal.SECUREBAL
                this.ZKstatus = this.ireport.ZKstatus
                this.GMRstatus = this.ireport.GMRstatus
                this.GNMVstatus = this.ireport.GNMVstatus
                this.ipraktika.forEach(element => {
                    var value = {
                        number: element.NUMBER,
                        theme: element.NAME,
                        hours: element.HORS
                    }
                    this.model.practicalWorks.push(value)
                });
                this.iknow.forEach(element => {
                    this.model.know.push(element.NAME)
                });
                this.ibeable.forEach(element => {
                    this.model.beable.push(element.NAME)
                });
                this.isem.forEach(element => {
                    var value = {
                        number: element.NUMBER,
                        theme: element.NAME,
                        hours: element.HOURS
                    }
                    this.model.seminarsWorks.push(value)
                });
                this.iquestion.forEach(element => {
                    var value = {
                        number: element.NUMBER,
                        theme: element.THEME,
                        hours: element.HOURS
                    }
                    this.model.questions.push(value)
                });

                this.ilit.forEach(element => {
                    if(element.TYPE===1){
                        this.model.recommendedBooksAdditional.push(element.NAME)
                    }
                    else if (element.TYPE===2){
                        this.model.informationResources.push(element.NAME)
                    }
                    else{
                        this.model.recommendedBooksBasic.push(element.NAME)
                    }
                });

                if(this.iprepyear.length>0){
                    this.model.years=[]
                
                    this.iprepyear.forEach(element => {                    
                        var value = {
                            key: element.ID,
                            number: element.NUMBER,
                            semestrs: []
                        }
                        this.model.years.push(value)             
                    });        
                    
                    var j = 1
                    this.isemestr.forEach(element => {                    
                        var value = {
                            key: j,
                            number: element.NUMBER,
                            lektions: element.LHOUR,
                            praktika: element.PRHOUR,
                            laboratory: element.LABHOUR,
                            sam: element.SRHOUR,
                            Individual: element.INDHOUR,
                            typeExam: element.TYPEEXAM,
                            typeWork: element.TYPEWORK
                        }
                        this.model.years.find(x=>x.key===element.IDPREPYEAR).semestrs.push(value) 
                        j=j+1                   
                    });         
                }
                this.ilab.forEach(element => {
                    if(element.NAME){
                        var value = {
                            number: element.NUMBER,
                            theme: element.NAME,
                            hours: element.HOURS
                        }
                        this.model.laboratoryWorks.push(value)
                    }
                });

                this.imodule.forEach(element => {
                    var modl = {
                        id:element.ID,
                        number: element.NUMBER,
                        title: element.NAME,
                        exambal:element.EXAMBAL,
                        indbal:element.TASKBAL,
                        themes: []
                    }
                    this.model.modules.push(modl)
                });

                this.itheme.forEach(element => {
                    var theme = {
                        id: element.IDTHEME,
                        number: element.NUMBER,
                        title: element.TITLE,
                        description: element.DESCR,
                        lhours: element.LHOUR,
                        phours: element.PRHOUR,
                        labhours: element.LABHOUR,
                        indhours: element.INDHOUR,
                        shours: element.SRHOUR,
                        bal: element.BAL,
                        labs: []
                    } 
                    this.model.modules.find(x=>x.id === element.MIDMODULE).themes.push(theme)
                });    
                
                this.ilab.forEach(element => {
                    this.model.modules.forEach(el =>{
                        el.themes.forEach(e=>{
                            if(e.id === element.IDTHEME){
                                var laboratory = {
                                    number: element.NUMBER,
                                    theme: element.NAME,
                                    hours: element.HOURS
                                }
                                e.labs.push(laboratory)
                            }
                        })
                    })
                });    
                    
                    
                
            }
        }
    }
</script>

<style>


.content {
    background-color: #fff;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    font-size: 12pt;
    color:#000;
    font-family: 'Times New Roman', Times, serif;
    
    box-shadow: 0px 0px 13px 7px #ccc;
}
body{
    background-color: #eff8fb;
}
b{
    font-weight: 800;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.next-page{
    padding: 50px 45px 50px 80px;
}
.rest-page{
    padding: 50px 45px 50px 80px;
    text-align: justify;
}
.list {
    list-style: none;
}
.filledText{
    display: inline;
    /* background: #e6e6e6;
    border-radius: 5px; */
    padding: 0px 5px;
}
/* .filledText:hover{
    background: #d2d2d2;
} */

.list li:before {
    content:  "—";
    position: relative;
    left:     -5px;
}
.metodical-list{
    list-style: decimal;
    margin-left: 50px;
}
.rest-page table{
    width: 100%;
    border: 2px solid #000;
}
.rest-page tr{
    border: 1px solid #000;
}
.rest-page td{
    border: 1px solid #000;
    padding: 5px 10px;
    line-height: 1.2em;
}
.modalsinput{
    margin-top: 15px;
}

.error {
  display: none;
  margin-bottom: 8px;
  font-size: 13.4px;
  color: #fc5c65;
}
.errorInput .error {
  display: block;
}
.cyrilic { 
    list-style-type: none; /* Прячем исходную нумерацию */
}
.cyrilic li::before {
margin-right: 5px; /* Расстояние от буквы до текста */
width: 1em; /* Ширина */
text-align: right; /* Выравнивание по правому краю */
display: inline-block; /* Строчно-блочный элемент */
font-weight:800;
}
.cyrilic li:nth-child(1)::before { content: 'а)'; }
.cyrilic li:nth-child(2)::before { content: 'б)'; }
.cyrilic li:nth-child(3)::before { content: 'в)'; }
.cyrilic li:nth-child(4)::before { content: 'г)'; }
.cyrilic li:nth-child(5)::before { content: 'д)'; }
.cyrilic li:nth-child(6)::before { content: 'е)'; }
.cyrilic li:nth-child(7)::before { content: 'є)'; }
.cyrilic li:nth-child(8)::before { content: 'ж)'; }
.cyrilic li:nth-child(9)::before { content: 'з)'; }
.cyrilic li:nth-child(10)::before { content: 'и)'; }

.content{
    margin-top: 20px;
}
</style>

