<template>
    <div class="next-page">
        <div class="form">
            Форма	5
        </div>
        <div class="university-title">
            ПОЛТАВСЬКИЙ НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ<br>
            ІМЕНІ ЮРІЯ КОНДРАТЮКА
        </div>
        <div class="department-title">
            {{ importedData.currentDepartmentTitle}}           
        </div>
        <div class="row">
            <div class="col-7"></div>
            <div class="col5">
                <div class="signature-fields">
                    <b>ЗАТВЕРДЖУЮ</b><br>
                    Проректор <br>
                    із науково-педагогічної роботи<br>
                    <br>
                    ___________________Б.О. Коробко<br>
                    «___» __________20___ року
                </div>
            </div>
        </div>
        <div class="main-title">
            РОБОЧА ПРОГРАМА НАВЧАЛЬНОЇ ДИСЦИПЛІНИ 
        </div>
        <div class="discipline">
            {{ importedData.currentDisciplineTitle}}
        </div>
        <div class="discipline-calling">
            ( назва навчальної дисципліни)
        </div>   
        <div class="panel">
            <div class="preparation">
                підготовки  {{ importedData.currentPreparetionTitle}}_____________            
            </div> 
            <div class="preparation-calling">
                (назва ступеня вищої освіти)
            </div>   
            <div class="speciality">
                спеціальність  {{ importedData.currentSpecialityKod}} {{ importedData.currentSpecialityTitle}}
            </div>
            <div class="speciality-calling">
                (шифр і назва спеціальності)
            </div>
        </div>        
        <div class="document-date">
            Полтава – {{importedData.currentYear}}
                      
            рік
        </div>
    </div>
</template>

<script scoped>
    export default {
        data() {
            return {                
                date: [
                    2018,
                    2019,
                    2020,
                    2021
                ],
                kafedras:[],
                speclties:[],
                disciplns:[]
            }
        },
        mounted(){
            this.kafedras = this.departments
            this.speclties = this.specialities
            this.disciplns = this.disciplines
        },
        methods: {
            setKafedra (kafedra) {
                this.speclties = this.specialities.filter(x=>x.IDDEPART === kafedra)
                var value = this.kafedras.find(function(elem) {
                    return elem.id === kafedra
                })
                this.disciplns = this.disciplines.filter(x=>this.speclties.some(y=>y.id ===x.IDSPEC))
                this.importedData.currentKafedra = kafedra
                this.importedData.currentDepartmentTitle = value.title
            },
            setDiscipline (discipline) {
                var value = this.disciplns.find(function(elem) {
                    return elem.id === discipline
                })
                var spec = this.specialities.filter(x=>x.id === value.IDSPEC)[0]
                var kafedr = this.departments.filter(x=>this.speclties.some(y=>y.IDDEPART ===x.id))[0]

                this.importedData.currentSpeciality = spec.id
                this.importedData.currentSpecialityKod = spec.SPCODE
                this.importedData.currentSpecialityTitle = spec.title
                this.importedData.area = spec.NAME
                this.importedData.areacode = spec.CODE

                this.importedData.currentKafedra = kafedr.id
                this.importedData.currentDepartmentTitle = kafedr.title

                this.importedData.currentDiscipline = discipline
                this.importedData.currentDisciplineTitle = value.title
                console.log(this.importedData)
            },
            setSpeciality (speciality) {
                var value = this.speclties.find(function(elem) {
                    return elem.id === speciality
                })
                console.log(value)
                this.importedData.currentSpeciality = speciality
                this.importedData.currentSpecialityKod = value.SPCODE
                this.importedData.currentSpecialityTitle = value.title
                this.importedData.area = value.NAME
                this.importedData.areacode = value.CODE
            },
            setPreparetion (preparetion) {
                var value = this.preparations.find(function(elem) {
                    return elem.id === preparetion
                })
                this.importedData.currentPreparetion = preparetion
                this.importedData.currentPreparetionTitle = value.title
            },
            setYear (year){
                this.importedData.currentYear = year
            }
        },         
        props: [
            'importedData',
            'disciplines',
            'departments',
            'specialities',
            'preparations'
        ]
        // {
        //     importedData: {
        //         type: Object
        //     }
        // },
    }
</script>

<style scoped>
.removePadding{
    padding: 0;
}
.addPadding{
    padding: 7px 16px;
}
.upper{
    text-transform: uppercase;
}
.form{
    margin-top: 20px;
    text-align: right;
    font-weight: 800;
    font-size: 10pt;
}
.university-title{
    text-align: center;
    font-weight: 800;
    margin-top: 15px;
}
.department-title{
    margin-top: 15px;
}
.main-title{
    margin-top:30px;
    text-transform:uppercase;
    font-weight: 800;
}
.discipline{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 30px;
}
.discipline-calling{
    font-weight: 800;
    font-size: 10pt;
}
.signature-fields{
    text-align: left;
    margin-top: 30px;
}
.preparation{
    margin-top:20px;
}
.preparation-name,
.speciality-name
{
    font-weight: 800;
    text-decoration: underline;
}
.preparation-calling,
.speciality-calling{
    font-size: 8pt;
    
    margin-left: 100px;
}
.document-date{
    margin-top:250px;
    margin-bottom: 30px;
}
.next-page{
    padding: 50px 45px 50px 80px;
}
.title-drop{
    color: black;
    background: #ccc;
    padding: 5px;
    border-radius: 5px;
}
.title-drop:hover{
    color: black;
    background: #bdbcbc;
    box-shadow:1px 1px 1px;
}
.panel{
    text-align: left;
    margin-left: 150px;
}
</style>

