<template>	
    <div class="container">
        <Button  type="primary" style="margin-top:10px;" size="large" @click="modalAddDep = true">Додати</Button>
        <Table border style="margin-top:10px; font-size:14px" :columns="columns1" :data="elements">
            <template slot-scope="{ row, index }" slot="action">
                <Button type="primary" icon="ios-build" size="small" style="margin-right: 5px" @click="show(index)"></Button>
                <Button type="error" icon="md-close" size="small" @click="remove(index)"></Button>
            </template>
        </Table>
        <Modal  
            v-model="modalAddDep" scrollable 
            title="Додати спеціальність"
            okText="OK"
            @on-ok="addKafedra"
            @on-cancel = "clearKafedra"
            cancelText="Назад"
            :mask-closable="false"
            :loading="loading">
            <label for="kafedra">Спеціальність:</label><Input id ="kafedra"   v-model="insertValues.sptitle" type="text" placeholder="Введіть назву спецаільності" />
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.sptitle==='' }" >Поле не може бути пустим</div>
            <label for="kafedrakod" style="margin-top:10px;">Код спеціальності:</label><Input id ="kafedrakod" style="margin-bottom:10px;"  v-model="insertValues.spcode" type="text" placeholder="Введіть код спецаільності" />
            <Select  placeholder ="Виберіть кафедру" v-model="insertValues.iddepart" >
                <Option v-for="item in departments" :key="item.id"  :value="item.id">{{item.title}}</Option>
            </Select>
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.iddepart===0 }" >Поле не може бути пустим</div>
            <Select  placeholder ="Виберіть галузь" v-model="insertValues.areaid" style="margin-top:20px;" >
                <Option v-for="item in area" :key="item.ID" :value="item.ID">{{item.NAME}}</Option>
            </Select>
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.areaid===0 }" >Поле не може бути пустим</div>
            
        </Modal>
        <Modal 
            v-model='youSure' @on-ok='deleteKafedra' okText = 'Так' cancelText = "Ні">
            Ви впевнені що хочете видалити спеціальність?
        </Modal>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                columns1: [
                    {
                        title: 'Номер',
                        key: 'id',
                        width: 75,
                        align: 'center'
                    },
                    {
                        title: 'Спеціальність',
                        key: 'sptitle',
                        sortable: true
                    },
                    {
                        title: 'Код спеціальності',
                        key: 'spcode',
                        width: 150,
                    },
                    {
                        title: 'Кафедра',
                        key: 'dptitle',
                        sortable: true
                    },
                    {
                        title: 'Галузь',
                        key: 'name',
                        sortable: true
                    },
                    {
                        title: ' ',
                        slot: 'action',
                        width: 150,
                        align: 'center'
                    }
                ],
                modalAddDep: false,
                isEditing:false,
                index: 0,
                youSure:false,
                clicked: false,
                loading: true,
                insertValues:{
                    id:0,
                    sptitle:'',
                    spcode:'',
                    iddepart:0,
                    dptitle:'',
                    areaid:0,
                    name:''
                },
                elements:[]
            }
        },
        mounted(){
            this.elements = this.specialities
            console.log(this.departments)
        },
        methods:{
            addKafedra(){
                this.$Spin.show();
                this.clicked = true
                if(this.insertValues.sptitle===''){
                    this.$Spin.hide();
                    this.loading = false
                    return
                }
                else if(this.insertValues.iddepart===0){
                    this.$Spin.hide();
                    this.loading = false
                    return
                }
                else if(this.insertValues.areaid===0){
                    this.$Spin.hide();
                    this.loading = false
                    return
                }
                if(this.isEditing){
                    axios.post('/updateSpeciality/', this.insertValues)
                        .then((response) => {   
                            var dep = this.departments.find(x=>x.id === this.insertValues.iddepart)   
                            var are = this.area.find(x=>x.ID === this.insertValues.areaid)     
                            var value = this.elements[this.index]
                            value.sptitle = this.insertValues.sptitle
                            value.spcode = this.insertValues.spcode
                            value.iddepart = this.insertValues.iddepart
                            value.dptitle = dep.title
                            value.areaid = this.insertValues.areaid
                            value.name = are.NAME
                            this.clearKafedra()
                            this.isEditing=false
                            this.index = 0  
                            this.$Spin.hide(); 
                        })
                }
                else{
                    axios.post('/addSpeciality/', this.insertValues)
                        .then((response) => {   
                            var dep = this.departments.find(x=>x.id === this.insertValues.iddepart)   
                            var are = this.area.find(x=>x.ID === this.insertValues.areaid)   
                            var department = {
                                id: response.data,
                                sptitle:this.insertValues.sptitle,
                                spcode:this.insertValues.spcode,
                                iddepart:this.insertValues.iddepart,
                                dptitle : dep.title,
                                areaid:this.insertValues.areaid,
                                name: are.NAME
                            }
                            this.elements.push(department)
                            this.clearKafedra()
                            this.$Spin.hide();
                        })
                }
            },
            remove (index) {
                this.index = index
                this.youSure = true
            },
            deleteKafedra(){
                this.$Spin.show();
                axios.post('/deleteSpeciality/', this.elements[this.index])
                    .then((response) => { 
                        console.log(response) 
                        this.elements.splice(this.index, 1)
                        this.index = 0
                        this.$Spin.hide();
                    })
            },
            clearKafedra(){
                this.insertValues.sptitle = ''
                this.insertValues.id = 0
                this.insertValues.spcode = 0
                this.insertValues.iddepart = 0
                this.insertValues.dptitle = ''
                this.insertValues.areaid = 0
                this.insertValues.name =''
            },
            show (index) {
                this.modalAddDep =true
                this.isEditing = true
                this.index = index
                this.insertValues.sptitle = this.elements[index].sptitle
                this.insertValues.id = this.elements[index].id
                this.insertValues.spcode = this.elements[index].spcode
                this.insertValues.iddepart = this.elements[index].iddepart
                this.insertValues.dptitle = this.elements[index].dptitle
                this.insertValues.areaid = this.elements[index].areaid
                this.insertValues.name = this.elements[index].name
            },
        },
        props: [
            'specialities',
            'departments',
            'area'
        ],
    }
</script>

<style scoped>
.modal{
    margin-top:10px;
}
.errorEl{
    color:red !important;
    display:block !important;
}
</style>