<template>	
    <div class="container">
        <Table no-data-text="Пусто" style="margin-top:10px;" :columns="columns1" :data="elements">            
            <template  slot-scope="{ row, index }" slot="agree">
                <Icon v-if="row.ZKstatusAgree==='1' && currentuser.type==='Z'" size="25" style="color:green;" type="md-checkmark-circle" /> 
                <Icon v-if="row.ZKstatusAgree==='2' && currentuser.type==='Z'" size="25" style="color:red;" type="md-close-circle" />
                <Button v-if="row.ZKstatusAgree==='0' && currentuser.type==='Z'" type="primary" icon="md-checkmark-circle" size="small" style="margin-right: 5px" @click="agree(index)"></Button>
                <Button v-if="row.ZKstatusAgree==='0' && currentuser.type==='Z'"  type="error" icon="md-close-circle" size="small" @click="notagreemodel(index)"></Button>
                <Icon v-if="row.GMRstatusAgree==='1' && currentuser.type==='G'" size="25" style="color:green;" type="md-checkmark-circle" /> 
                <Icon v-if="row.GMRstatusAgree==='2' && currentuser.type==='G'" size="25" style="color:red;" type="md-close-circle" />
                <Button v-if="row.GMRstatusAgree==='0' && currentuser.type==='G'" type="primary" icon="md-checkmark-circle" size="small" style="margin-right: 5px" @click="agreeGMR(index)"></Button>
                <Button v-if="row.GMRstatusAgree==='0' && currentuser.type==='G'"  type="error" icon="md-close-circle" size="small" @click="notagreemodelGMR(index)"></Button>
                <Icon v-if="row.GNMVstatusAgree==='1' && currentuser.type==='V'" size="25" style="color:green;" type="md-checkmark-circle" /> 
                <Icon v-if="row.GNMVstatusAgree==='2' && currentuser.type==='V'" size="25" style="color:red;" type="md-close-circle" />
                <Button v-if="row.GNMVstatusAgree==='0' && currentuser.type==='V'" type="primary" icon="md-checkmark-circle" size="small" style="margin-right: 5px" @click="agreeGNMV(index)"></Button>
                <Button v-if="row.GNMVstatusAgree==='0' && currentuser.type==='V'"  type="error" icon="md-close-circle" size="small" @click="notagreemodelGNMV(index)"></Button>
                <Modal  
                    v-model="showmodal" scrollable 
                    title="Додати коментар"
                    okText="OK"
                    @on-ok="notagree"
                    @on-cancel = "cancel"
                    cancelText="Назад">
                    <Input style="margin-bottom:10px;"  v-model="comment" type="textarea" placeholder="Коментар" />
                </Modal>
                <Modal  
                    v-model="showmodalGMR" scrollable 
                    title="Додати коментар"
                    okText="OK"
                    @on-ok="notagreeGMR"
                    @on-cancel = "cancel"
                    cancelText="Назад">
                    <Input style="margin-bottom:10px;"  v-model="comment" type="textarea" placeholder="Коментар" />
                </Modal>
                <Modal  
                    v-model="showmodalGNMV" scrollable 
                    title="Додати коментар"
                    okText="OK"
                    @on-ok="notagreeGNMV"
                    @on-cancel = "cancel"
                    cancelText="Назад">
                    <Input style="margin-bottom:10px;"  v-model="comment" type="textarea" placeholder="Коментар" />
                </Modal>
            </template>
            <template slot-scope="{ row, index }" slot="action">
                <Button v-if="currentuser.type==='Z'" type="primary" icon="md-eye" size="small" style="margin-right: 5px" @click="show(index)"></Button>
                <Button v-if="currentuser.type==='G'" type="primary" icon="md-eye" size="small" style="margin-right: 5px" @click="showGMR(index)"></Button>
                <Button v-if="currentuser.type==='V'" type="primary" icon="md-eye" size="small" style="margin-right: 5px" @click="showGNMV(index)"></Button>
            </template>
        </Table>        
    </div>
</template>

<script>
    export default {
        data(){
            return{
                elements:[],
                index:0,
                comment:'',
                showmodal:false,
                showmodalGMR:false,
                showmodalGNMV:false,
                columns1: [
                    {
                        title: 'Дисципліна',
                        key: 'discipline',
                        sortable: true
                    }, 
                    {
                        title: 'Спеціальність',
                        key: 'speciality',
                        sortable: true
                    },
                    {
                        title: 'Код спеціальності',
                        key: 'specialityCode',
                        sortable: true
                    },
                    {
                        title: 'Кафедра',
                        key: 'department',
                        sortable: true
                    },
                    {
                        title: 'Галузь',
                        key: 'area',
                        sortable: true
                    },
                    {
                        title: 'Рік',
                        key: 'year',
                        width: 80,
                        sortable: true
                    },
                    // {
                    //     title: 'Статус',
                    //     key: 'statusAgree'
                    // },
                    {
                        title: 'Статус',
                        slot: 'agree',
                        width: 150,
                        align: 'center'
                    },
                    {
                        title: ' ',
                        slot: 'action',
                        width: 80,
                        align: 'center'
                    }
                ],
            }
        },
        mounted(){
            this.elements = this.reports
            console.log(this.currentuser)
        },
        methods:{
            show(index){
                window.location.href = '/showReport/'+this.elements[index].id                
            },
            agree(index){
                this.$Spin.show();
                axios.post('/agreeReport/', this.elements[index])
                        .then((response) => {        
                            this.elements[index].ZKstatusAgree = '1'
                            this.$Spin.hide(); 
                        })               
            },
            notagree(){
                this.$Spin.show();
                var send = {
                    id: this.elements[this.index].id,
                    idagree: this.elements[this.index].idagree,
                    ZKstatusAgree: this.elements[this.index].ZKstatusAgree,
                    idrep: this.elements[this.index].idrep,
                    typeagree: 1,
                    comment: this.comment
                }
                axios.post('/notagreeReport/', send)
                        .then((response) => {        
                            this.elements[this.index].ZKstatusAgree = '2'
                            this.index=0
                            this.$Spin.hide(); 
                        })             
            },
            notagreemodel(index){
                this.index=index
                this.showmodal=true
            },




            showGMR(index){
                window.location.href = '/showReport/'+this.elements[index].id                
            },
            agreeGMR(index){
                this.$Spin.show();
                axios.post('/agreeReport/', this.elements[index])
                    .then((response) => {        
                        this.elements[index].GMRstatusAgree = '1'
                        this.$Spin.hide(); 
                    })               
            },
            notagreeGMR(){
                this.$Spin.show();
                var send = {
                    id: this.elements[this.index].id,
                    idagree: this.elements[this.index].idagree,
                    GMRstatusAgree: this.elements[this.index].GMRstatusAgree,
                    idrep: this.elements[this.index].idrep,
                    typeagree: 2,
                    comment: this.comment
                }
                axios.post('/notagreeReport/', send)
                    .then((response) => {        
                        this.elements[this.index].GMRstatusAgree = '2'
                        this.index=0
                        this.$Spin.hide(); 
                    })             
            },
            notagreemodelGMR(index){
                this.index=index
                this.showmodalGMR=true
            },


            showGNMV(index){
                window.location.href = '/showReport/'+this.elements[index].id                
            },
            agreeGNMV(index){
                this.$Spin.show();
                axios.post('/agreeReport/', this.elements[index])
                    .then((response) => {        
                        this.elements[index].GNMVstatusAgree = '1'
                        this.$Spin.hide(); 
                    })               
            },
            notagreeGNMV(){
                this.$Spin.show();
                var send = {
                    id: this.elements[this.index].id,
                    idagree: this.elements[this.index].idagree,
                    GNMVstatusAgree: this.elements[this.index].GNMVstatusAgree,
                    idrep: this.elements[this.index].idrep,
                    typeagree: 3,
                    comment: this.comment
                }
                axios.post('/notagreeReport/', send)
                    .then((response) => {        
                        this.elements[this.index].GNMVstatusAgree = '2'
                        this.index=0
                        this.$Spin.hide(); 
                    })             
            },
            notagreemodelGNMV(index){
                this.index=index
                this.showmodalGNMV=true
            },
            cancel(){
                this.index=0
            }
        },
        props: [
            'reports',
            'currentuser'
        ],
    }
</script>

<style>
.modal{
    margin-top:10px;
}
.ivu-table-cell{
    word-break: normal !important; 
}
</style>