<template>
    <div class="next-page">
        <div class="content-description">
            1.	Опис навчальної дисципліни
        </div>
            <table>
            <tr>
                <td rowspan="2">Найменування показників</td>
                <td rowspan="2">Галузь знань, напрям підготовки, освітньо-кваліфікаційний рівень</td>
                <td :colspan="width">Характеристика навчальної дисципліни</td>                              
            </tr>
            <tr>
                <td :colspan="width">денна форма навчання</td>
            </tr>
            <tr>
                <td  class="left">Кількість кредитів –     
                    <Input v-model="importedData.credits" type="number" style="width:50px;"   />
                </td>
                <td rowspan="2">Галузь знань<br>
                    {{importedData.areacode}}<br>
                    {{importedData.area}}
                </td>
                <td rowspan="2" :colspan="width">                    
                    <Dropdown trigger="click">
                        <a href="javascript:void(0)" >
                            {{ importedData.currnessesiries==='' ? 'Виберіть' : importedData.currnessesiries }}
                            <Icon v-if="importedData.currnessesiries ===''" type="ios-arrow-down"></Icon>
                        </a>
                        <DropdownMenu slot="list"> 
                            <DropdownItem v-for="item in nessesory" :key="item.key" class="removePadding">
                                <div @click="setNes(item.title)" class="addPadding">
                                    {{item.title}}
                                </div>
                            </DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                </td>
            </tr>
            <tr><td class="left">Загальна кількість годин – 
                <Input v-model="importedData.totalHours" type="number" style="width:50px;"   /></td></tr>

            <tr>
                <td class="left">Модулів – 
                    <Input v-model="importedData.modulesc" type="number" style="width:50px;"   />
                </td>
                <td rowspan="5">Спеціальність <br><br>
                    {{importedData.currentSpecialityKod}}<br>
                    {{importedData.currentSpecialityTitle}}
                </td>
                <td :colspan="width"><b>Рік підготовки:</b></td>
            </tr>
            <tr>
                <td rowspan="4" class="left">Змістових модулів – 
                    <Input v-model="importedData.zmmodulesc" type="number" style="width:50px;"   />
                </td>
                <td :colspan="year.semestrs.length" v-for="year in importedData.years" :key="year.key">
                    <Input v-model="year.number" type="number" style="width:50px;"   />
                    -й
                    <Button v-if="year.key === importedData.years.length" size="small" type="primary" icon="ios-add-circle-outline"  shape="circle"  @click="addyear"></Button>
                </td>
            </tr>

            <tr><td :colspan="year.semestrs.length"  v-for="year in importedData.years" :key="year.key"><b>Семестр</b></td></tr>

            <tr>
                <template v-for="year in importedData.years">
                    <td class="w16" v-for="semestr in year.semestrs"  :key="semestr.key">
                        <Input v-model="semestr.number" type="number" style="width:50px;"   />
                        <Button v-if="year.semestrs.length<2" size="small" type="primary" icon="ios-add-circle-outline"  shape="circle"  @click="addsemestr(year)"></Button>
                    </td>
                </template>


                <!-- <td class="w16"  v-for="year in importedData.years" :key="year.number">
                    <Input v-model="importedData.fsemestr" type="number" style="width:50px;"   />
                    <Button v-if="year === importedData.years.length" size="small" type="primary" icon="ios-add-circle-outline"  shape="circle"  @click="addyear"></Button>
                </td>
                <td class="w16"  v-for="year in importedData.years" :key="year.number">
                    <Input v-model="importedData.ssemestr" type="number" style="width:50px;"   />
                </td> -->
            </tr>

            <tr><td :colspan="year.semestrs.length"  v-for="year in importedData.years" :key="year.key"><b>Лекції</b></td></tr>

            <tr>
                <td rowspan="10" class="left">
                    <template v-for="year in importedData.years">
                        <div v-for="semestr in year.semestrs"  :key="semestr.key">
                            <Dropdown trigger="click">
                                <a href="javascript:void(0)" >
                                    {{ semestr.typeWork=== '' ? 'Виберіть' : semestr.typeWork  }}
                                    <Icon v-if="semestr.typeWork=== ''" type="ios-arrow-down"></Icon>
                                </a>
                                <DropdownMenu slot="list"> 
                                    <DropdownItem v-for="item in works" :key="item.key" class="removePadding">
                                        <div @click="setWork(semestr,item.title)" class="addPadding">
                                            {{item.title}}
                                        </div>
                                    </DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                            <br>{{semestr.number}} семестр – {{semestr.Individual}} год<br>
                        </div>
                    </template>
                </td>
                <td rowspan="10">
                    Ступінь вищої освіти<br>{{importedData.currentPreparetionTitle}}
                </td>

                <template v-for="year in importedData.years">
                    <td class="w16" v-for="semestr in year.semestrs"  :key="semestr.key">
                        <Input v-model="semestr.lektions" type="number" style="width:50px;"   />
                    </td>
                </template>

                <!-- <td class="w16"  v-for="year in importedData.years" :key="year.number">
                    <Input v-model="importedData.flekshion" type="number" style="width:50px;"   />
                 год.</td>
                <td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.slekshion" type="number" style="width:50px;"   />
                 год.</td> -->
            </tr>
            <tr><td :colspan="year.semestrs.length"  v-for="year in importedData.years" :key="year.key"><b>Практичні, семінарські</b></td></tr>
            <tr>
                <template v-for="year in importedData.years">
                    <td class="w16" v-for="semestr in year.semestrs"  :key="semestr.key">
                        <Input v-model="semestr.praktika" type="number" style="width:50px;"   />
                   </td>
                </template>

                <!-- <td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.fpraktical" type="number" style="width:50px;"   />
                 год.</td><td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.spraktical" type="number" style="width:50px;"   />
                 год.</td> -->
                 
            </tr>
            <tr><td :colspan="year.semestrs.length" v-for="year in importedData.years" :key="year.key"><b>Лабораторні</b></td></tr>
            <tr>
                <template v-for="year in importedData.years">
                    <td class="w16" v-for="semestr in year.semestrs"  :key="semestr.key">
                        <Input v-model="semestr.laboratory" type="number" style="width:50px;"   />
                   </td>
                </template>

                <!-- <td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.flab" type="number" style="width:50px;"   />
                 год.</td><td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.slab" type="number" style="width:50px;"   />
                 год.</td> -->
            </tr>
            <tr><td :colspan="year.semestrs.length" v-for="year in importedData.years" :key="year.key"><b>Самостійна робота</b></td></tr>
            <tr>
                <template v-for="year in importedData.years">
                    <td class="w16" v-for="semestr in year.semestrs"  :key="semestr.key">
                        <Input v-model="semestr.sam" type="number" style="width:50px;"   />
                   </td>
                </template>
                <!-- <td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.fsam" type="number" style="width:50px;"   />
                 год.</td><td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.ssam" type="number" style="width:50px;"   />
                 год.</td> -->
                 
            </tr>
            <tr><td :colspan="year.semestrs.length"  v-for="year in importedData.years" :key="year.key"><b>Індивідуальна робота</b></td></tr>
            <tr>
                <template v-for="year in importedData.years">
                    <td class="w16" v-for="semestr in year.semestrs"  :key="semestr.key">
                        <Input v-model="semestr.Individual" type="number" style="width:50px;"   />
                   </td>
                </template>
                
                <!-- <td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.find" type="number" style="width:50px;" />
                 год.</td><td class="w16"  v-for="year in importedData.years" :key="year.number"><Input v-model="importedData.sind" type="number" style="width:50px;" />
                 год.</td> -->
                 
            </tr>
            <tr>
                <template v-for="year in importedData.years">
                    <td class="w16" v-for="semestr in year.semestrs"  :key="semestr.key">
                        <Dropdown trigger="click">
                        <a href="javascript:void(0)" >
                            {{ semestr.typeExam === '' ? 'Виберіть' : semestr.typeExam}}
                            <Icon v-if="semestr.typeExam===''" type="ios-arrow-down"></Icon>
                        </a>
                        <DropdownMenu slot="list"> 
                            <DropdownItem v-for="item in examtypes" :key="item.key" class="removePadding">
                                <div @click="setExam(semestr,item.title)" class="addPadding">
                                    {{item.title}}
                                </div>
                            </DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                   </td>
                </template>
            </tr>
        </table>
        <div class="content-comment">
            <b>Примітка.</b> <br>
            Співвідношення кількості годин аудиторних занять до самостійної і індивідуальної роботи становить:
            <p style="text-indent:50px;">для денної форми навчання – 
                {{importedData.years.reduce((c, d) => +c + (d.semestrs.reduce((a,b)=>+a + (+b.lektions + +b.laboratory),0)) ,0)}}/
                {{importedData.years.reduce((c, d) => +c + (d.semestrs.reduce((a,b)=>+a + (+b.praktika + +b.sam + +b.Individual),0)) ,0)}}
            </p>
            
        </div>
    </div>
</template>
<script scoped>
export default {   
    data() {
        return {
            works:[
                {
                    id:1,
                    title:'Розрахунково-графічна робота'
                },
                {
                    id:2,
                    title:'Курсова робота'
                }
            ],
            examtypes:[
                {
                    id:1,
                    title:'екзамен'
                },
                {
                    id:2,
                    title:'залік'
                }
            ],
            nessesory:[
                {
                    id:1,
                    title:'Обов’язкова'
                },
                {
                    id:2,
                    title:'не обов’язкова'
                }
            ],
            
            yearKeys :1,
            semestrKeys:1,
            width: 1
        }
    },
    props: {
        importedData: {
            type: Object
        }
    },
    mounted(){
        var i = 0
        this.importedData.years.forEach(element => {
            element.semestrs.forEach(el => {
                i++
            });
        });
        this.width = i
    },
    methods:{
        addyear(){
            this.yearKeys++
            this.semestrKeys++
            var year =  {
                key: this.yearKeys,
                number:+this.importedData.years[this.importedData.years.length-1].number+1,
                semestrs:[{
                    key:this.semestrKeys,
                    number:1,
                    lektions:0,
                    praktika:0,
                    laboratory:0,
                    sam:0,
                    Individual:0,
                    typeExam:'',
                    typeWork:''
                }]            
                }
            this.importedData.years.push(year)
            this.width++
        },
        setWork(semestr,title){
            semestr.typeWork = title
        },
        setExam(semestr,title){
            semestr.typeExam = title
        },
        setNes(title){
            this.importedData.currnessesiries = title
        },
        addsemestr(year){
            this.semestrKeys++
            var semestr = {
                key:this.semestrKeys,
                number:+year.semestrs[year.semestrs.length-1].number+1,
                lektions:0,
                praktika:0,
                laboratory:0,
                sam:0,
                Individual:0,
                typeExam:'',
                typeWork:''
            }
            year.semestrs.push(semestr)
            this.width++
        }
    }
}
</script>
<style scoped>
.removePadding{
    padding: 0;
}
.addPadding{
    padding: 7px 16px;
}
.w16{
    width: 16%;
}
b{
    font-weight: 800;
}
.left{
    text-align: left;
}
.form{
    margin-top: 20px;
    text-align: right;
    font-weight: 800;
    font-size: 10pt;
}
.b{
    font-weight: 800;
}
.mt15{
    margin-top: 15px;
}
.next-page{
    padding: 50px 45px 50px 80px;
}
.content-description{
    font-weight: 800;
}
.content-comment{
    text-align: left;
}
.next-page table{
    width: 100%;
    border: 2px solid #000
}
.next-page tr,td{
    border: 1px solid #000
}
.next-page td{
    padding: 5px 10px;
    width: 33%;
}
</style>


