<template>	
    <div class="container">
        <Button style="margin-top: 10px" type="primary" size="large" @click="modalAddUser = true">Додати</Button>
        
        <Table border disabled-hover style="margin-top:20px;"  :columns="columns1" :data="element">
            <template slot-scope="{ row, index }" slot="action">
                <Button type="primary" icon="ios-build" size="small" style="margin-right: 5px" @click="show(index)"></Button>
                <Button type="error" icon="md-close" size="small" @click="remove(index)"></Button>
            </template>
        </Table>
        <Modal  
            v-model="modalAddUser" scrollable 
            title="Додати користувача"
            okText="OK"
            @on-ok="addUser"
            @on-cancel = "clearUser"
            cancelText="Назад" :styles="{top: '20px'}"
            :mask-closable="false"
            :loading="loading">
            <label  style="margin-top:10px;"  for="login">Логін:</label><Input  ref="login" id ="login" v-model="insertValues.login" type="text" placeholder="Введіть логін" />
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.login==='' }" >Поле не може бути пустим</div>
            <label style="margin-top:10px;"  for="password">Пароль:</label><Input   :class="{ errorEl: clicked && insertValues.password==='' }" ref="password" id = "password" v-model="insertValues.password" type="text" placeholder="Введіть пароль" />
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.password==='' }" >Поле не може бути пустим</div>
            <label style="margin-top:10px;"  for="name">Імя:</label><Input id = "name"  v-model="insertValues.name" type="text" placeholder="Введіть імя" />
            <label style="margin-top:10px;"  for="surname">Фамілія:</label><Input  id = "surname" v-model="insertValues.surname" type="text" placeholder="Введіть фамілію" />
            <label style="margin-top:10px;"  for="otch">По батькові:</label><Input id = "otch"  v-model="insertValues.otch" type="text" placeholder="Введіть по батькові" />
            <label style="margin-top:10px;"  for="role">Посада:</label><Input id = "role" v-model="insertValues.role" type="text" placeholder="Введіть посаду" />
            <div><Select   :class="{ errorEl: clicked && insertValues.type==='' }"  ref="type" @change="sel(insertValues.type)" style="margin-top:10px;" v-model="insertValues.type"  placeholder = "Введіть тип користувача">
                <Option value="A">Адміністратор</Option>
                <Option value="P">Викладач</Option>
                <Option value="Z">Завідувач кафедри</Option>
                <Option value="G">Голова методичної ради</Option>
                <Option value="V">Голова навчально методичного відділу</Option>
            </Select>
            </div>
            <div style="display:none;" :class="{ errorEl: clicked && insertValues.type==='' }" >Поле не може бути пустим</div>
            <div v-if="insertValues.type==='Z'" style="margin-top:20px;">
                <Select  placeholder ="Виберіть спеціальність" v-model="insertValues.iddepart" >
                    <Option v-for="item in departments" :key="item.id"  :value="item.id">{{item.title}}</Option>
                </Select>                
            </div>
        </Modal>
        <Modal 
        v-model='youSure' @on-ok='deleteUser' okText = 'Да' cancelText = "Нет">
        Ви впевнені що хочете видалити користувача?
        </Modal>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                clicked: false,
                columns1: [
                    {
                        title: 'Номер',
                        key: 'id',
                        width: 75,
                        align: 'center',
                        sortable: true
                    },
                    {
                        title: 'Імя',
                        key: 'name',
                        sortable: true
                    },
                    {
                        title: 'Фамілія',
                        key: 'surname',
                        sortable: true
                    },
                    {
                        title: 'По батькові',
                        key: 'otch',
                        sortable: true
                    },
                    {
                        title: 'Тип',
                        key: 'typetitle',
                        sortable: true
                    },
                    {
                        title: 'Посада',
                        key: 'role',
                        sortable: true
                    },
                    {
                        title: 'Логін',
                        key: 'login',
                        sortable: true
                    },
                    // {
                    //     title: 'Пароль',
                    //     key: 'password'
                    // },
                    {
                        title: ' ',
                        slot: 'action',
                        width: 110,
                        align: 'center'
                    }
                ],
                modalAddUser: false,
                isEditing:false,
                youSure:false,
                index: 0,
                loading: true,
                insertValues:{
                    id:0,
                    login:'',
                    password:'',
                    name:'',
                    surname:'',
                    otch:'',
                    role:'',
                    type:'',
                    typetitle:'',
                    iddepart:0
                },
                element:[]
            }
        },
        mounted(){
            this.element = this.users
        },
        methods:{
            sel(type){
                console.log(type)
                this.insertValues.typetitle = 
                    type==='A'
                    ? 'Адміністратор'
                    : type==='P' 
                    ? 'Викладач'
                    : type==='Z'
                    ? 'Завідувач кафедри'
                    : 'Голова методичної ради'
            },
            addUser(){
                this.$Spin.show();
                this.clicked = true
                if(this.insertValues.login===''){
                    this.$refs.login.focus()
                    this.$Spin.hide();
                    this.loading = false
                    return
                }
                else if(this.insertValues.password===''){
                    this.$refs.password.focus()
                    this.$Spin.hide();
                    this.loading = false
                    return
                }
                else if(this.insertValues.type===''){
                    this.$refs.type.focus()
                    this.loading = false
                    this.$Spin.hide();
                    return
                }
                else{
                    this.insertValues.typetitle = 
                                this.insertValues.type==='A'
                                ? 'Адміністратор'
                                : this.insertValues.type==='P' 
                                ? 'Викладач'
                                : this.insertValues.type==='Z'
                                ? 'Завідувач кафедри'
                                : 'Голова методичної ради'
                    if(this.isEditing){
                        axios.post('/updateUser/', this.insertValues)
                            .then((response) => { 
                                
                                var value = this.element[this.index]
                                value.login = this.insertValues.login
                                value.password = this.insertValues.password
                                value.name = this.insertValues.name
                                value.surname = this.insertValues.surname
                                value.otch = this.insertValues.otch
                                value.role = this.insertValues.role
                                value.type = this.insertValues.type
                                value.typetitle = this.insertValues.typetitle
                                value.iddepart = this.insertValues.iddepart
                                this.clearUser()
                                this.isEditing=false
                                this.index = 0 
                                this.loading = false 
                                this.modalAddUser = false
                                this.$Spin.hide();  
                            })
                    }
                    else{
                        axios.post('/addUser/', this.insertValues)
                            .then((response) => {        
                                alert(response.data)
                                var user = {
                                    id: response.data,
                                    login:this.insertValues.login,
                                    password:'',
                                    name:this.insertValues.name,
                                    surname:this.insertValues.surname,
                                    otch:this.insertValues.otch,
                                    role:this.insertValues.role,
                                    type:this.insertValues.type,
                                    typetitle:this.insertValues.typetitle,
                                    iddepart:this.insertValues.iddepart
                                }
                                this.element.push(user)
                                this.clearUser()
                                this.loading = false 
                                this.modalAddUser = false
                                this.$Spin.hide(); 
                            })
                    }
                }
            },
            clearUser (){
                this.insertValues.id =0
                this.insertValues.login = ''
                this.insertValues.password = ''
                this.insertValues.name = ''
                this.insertValues.surname = ''
                this.insertValues.otch = ''
                this.insertValues.role = ''
                this.insertValues.iddepart = ''
                this.insertValues.typetitle = ''
                this.isEditing = false
                this.clicked = false
            },
            remove (index) {
                this.index = index
                this.youSure = true
            },
            deleteUser(){
                console.log(this.element[this.index].id)
                axios.post('/deleteUser/', this.element[this.index])
                    .then((response) => { 
                        this.element.splice(this.index, 1)
                        this.index = 0
                    })
            },
            show (index) {
                this.modalAddUser =true
                this.isEditing = true
                this.index = index
                this.insertValues.id = this.element[index].id
                this.insertValues.login = this.element[index].login
                this.insertValues.password = this.element[index].password
                this.insertValues.name = this.element[index].name
                this.insertValues.surname = this.element[index].surname
                this.insertValues.otch = this.element[index].otch
                this.insertValues.role = this.element[index].role
                this.insertValues.type = this.element[index].type
                this.insertValues.typetitle = this.element[index].typetitle
                this.insertValues.iddepart = this.element[index].iddepart
            },
        },
        props: [
            'users',
            'departments'
        ],
    }
</script>

<style scoped>
.modal{
    margin-top:10px;
}
.title-drop{
    color: black;
    background: #ccc;
    padding: 5px;
    border-radius: 5px;
}
.title-drop:hover{
    color: black;
    background: #bdbcbc;
    box-shadow:1px 1px 1px;
}
.removePadding{
    padding: 0;
}
.addPadding{
    padding: 7px 16px;
}
.errorEl{
    color:red !important;
    display:block !important;
}
</style>